{% comment %}

  This snippet generates the structure of a comment.
  It is used to show not only recent comments, but also comments that were
  just published but not yet approved.

  More information:
   - http://docs.shopify.com/themes/liquid-variables/comment

{% endcomment %}

<div class="comment">
  {% capture author %}<strong>{{ comment.author }}</strong>{% endcapture %}
  {% capture date %}<strong><time datetime="{{ comment.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}">{{ comment.created_at | date: format: 'date' }}</time></strong>{% endcapture %}
  <small>{{ 'blogs.article.comment_meta_html' | t: author: author, date: date }}</small><br>
  <div class="rte">
    {{ comment.content }}
  </div>
</div>
