{% comment %}
  /sections/ajax-cart.liquid

  Add a wrapper with a [data-ajax-cart-section] attribute 
  so that Liquid Ajax Cart knows that the section should be rerendered
  after user's cart state is changed.
{% endcomment %}

<div data-ajax-cart-section>
  <div>
    <h2>Section "ajax-cart"</h2>
    <p>The section gets updated after each action because it has a content wrapper with [data-ajax-cart-section] attribute. Liquid Ajax Cart asks Shopify to render new HTML for [data-ajax-cart-section] sections with each API request.</p>
  </div>
  <div>
    {% for item in cart.items %}
      <div>
        <p>
          <a class="h3" href="{{ item.url }}">{{ item.product.title }}</a> <br/>
          {% unless item.product.has_only_default_variant %}
            <small>{{ item.variant.title }}</small> <br/>
          {% endunless %}
          <small> Price: {{ item.final_price | money }} </small>
        </p>

        <div>
          <span>Quantity: </span>
          <button data-ajax-cart-quantity-button="{{ item.key }} | {{ item.quantity | minus: 1 }}"><i>-</i></button>
          {{ item.quantity }}
          <button data-ajax-cart-quantity-button="{{ item.key }} | {{ item.quantity | plus: 1 }}"><i>+</i></button>
        </div>

        <div> Total: <strong>{{ item.final_line_price | money }}</strong> </div>
        <div><a href="javascript:;" data-ajax-cart-quantity-button="{{ item.key }} | 0"><small>Remove</small></a></div>
      </div>
    {% endfor %}
  </div>
  <div> <a href="#checkout-route">Checkout — {{ cart.total_price | money_with_currency }}</a> </div>
</div>

{% schema %}
{
  "name": "Ajax Cart"
}
{% endschema %}