{% case section.settings.add_to_cart_width %}
  {% when 'small' %}
    {%- assign btn_class = 'btn--wide' -%}
    {%- assign productform_class = 'product-form--wide' -%}
  {% when 'medium' %}
    {%- assign btn_class = 'btn--wide' -%}
    {%- assign productform_class = 'product-form--wide' -%}
  {% when 'large' %}
    {%- assign btn_class = 'btn--full' -%}
    {%- assign productform_class = 'product-form--full' -%}
{% endcase %}

{% if section.settings.add_to_cart_width != 'small' %}
  <style>
    @media screen and (min-width: 769px){
      #ProductSection-{{ section.id }} .single-option-selector,
      #ProductSection-{{ section.id }} .quantity-selector {
        {% if section.settings.add_to_cart_width == 'medium' %}
          min-width: 50%;
        {% else %}
          min-width: 100%;
        {% endif %}
      }
    }
  </style>
{% endif %}

{%- assign product = all_products[section.settings.featured_product] -%}
{%- assign variant = product.selected_or_first_available_variant -%}

{%- if product == empty -%}
  {%- assign section_onboarding = true -%}
  {%- assign vendor = 'home_page.onboarding.product_vendor' | t -%}
  {%- assign title = 'home_page.onboarding.product_title' | t -%}
  {%- assign compare_at_price = 2999 -%}
  {%- assign price = 1999 -%}
{%- else -%}
  {%- assign section_onboarding = false -%}
  {%- assign vendor = product.vendor -%}
  {%- assign title = product.title -%}
  {%- assign compare_at_price = variant.compare_at_price -%}
  {%- assign price = variant.price -%}
{%- endif -%}

<div itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product-template" data-image-zoom-type="{{ section.settings.product_image_zoom_type }}">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="section-header section-header--breadcrumb">
    {% include 'breadcrumb' %}
  </div>

  <div class="product-single">
    <div class="grid product-single__hero">
      <div class="grid__item post-large--one-half">

        <div class="product-single__photos">
          {% unless section_onboarding %}
            {% assign featured_image = variant.featured_image | default: product.featured_image %}

            {% for image in product.images %}
              {% capture img_id %}ProductImage-{{ image.id }}{% endcapture %}
              {% capture img_wrapper_id %}ProductImageWrapper-{{ image.id }}{% endcapture %}
              {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              {% include 'image-style' with image: image, small_style: false, width: 700, height: 1024, wrapper_id: img_wrapper_id, img_id: img_id %}

              <div id="{{ img_wrapper_id }}" class="product-single__image-wrapper supports-js{% unless featured_image == image %} hide{% endunless %}{% if section.settings.product_image_zoom_type == 'lightbox' %} zoom-lightbox{% endif %}" data-image-id="{{ image.id }}">
                <div style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
                  <img id="{{ img_id }}"
                        class="product-single__image lazyload{% unless featured_image == image %} lazypreload{% endunless %}"
                        {% if featured_image == image %}src="{{ image | img_url: '300x300' }}"{% endif %}
                        data-src="{{ img_url }}"
                        data-widths="[180, 370, 540, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                        data-aspectratio="{{ image.aspect_ratio }}"
                        data-sizes="auto"
                        {% if section.settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ image | img_url: '1024x1024', scale: 2 }}"{% endif %}
                        alt="{{ image.alt | escape }}">
                </div>
              </div>
            {% endfor %}

            <noscript>
              <img src="{{ featured_image | img_url: '1024x1024', scale: 2 }}" alt="{{ featured_image.alt | escape }}">
            </noscript>
          {% else %}
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endunless %}
        </div>

        {% if section.settings.product_image_zoom_type == 'lightbox' %}
          <ul class="gallery" class="hidden">
            {% for image in product.images %}
              <li data-image-id="{{ image.id }}" class="gallery__item" data-mfp-src="{{ image | img_url: '1024x1024', scale: 2 }}"></li>
            {% endfor %}
          </ul>
        {% endif %}

      </div>
      <div class="grid__item post-large--one-half">
        {% if section.settings.product_vendor_enable %}
          <span class="h3" itemprop="brand">{{ vendor }}</span>
        {% endif %}
        <h1 class="product-single__title" itemprop="name">{{ title }}</h1>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

          <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <div class="product-single__prices{% if cart.taxes_included or shop.shipping_policy.body != blank %} product-single__prices--policy-enabled{% endif %}">
            {% if compare_at_price > price %}
              <span id="ComparePriceA11y" class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
            {% else %}
              <span id="PriceA11y" class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            {% endif %}
            <span id="ProductPrice" class="product-single__price" itemprop="price" content="{{ price | divided_by: 100.00 }}">
              {{ price | money }}
            </span>

            {% if compare_at_price > price %}
              <span id="PriceA11y" class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              <s id="ComparePrice" class="product-single__sale-price">
                {{ compare_at_price | money }}
              </s>
            {% endif %}

            {% include 'product-unit-price', variant: variant, available: true %}
          </div>

          {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product-single__policies{% if product.has_only_default_variant and section.settings.product_quantity_enable == false %} product__policies--no-dropdowns{% endif %} rte">
              {%- if cart.taxes_included -%}
                {{ 'products.general.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}

          {% unless product == empty %}
            <ajax-cart-product-form>
              {% form 'product', product, class: productform_class %}
                {{ form | payment_terms }}
                <select name="id" id="ProductSelect-{{ section.id }}" class="product-single__variants">
                  {% for variant in product.variants %}
                    {% if variant.available %}

                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                    {% else %}
                      <option disabled="disabled">
                        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                      </option>
                    {% endif %}
                  {% endfor %}
                </select>

                {% if product.id == 7149119373500 %}
                  {% render 'product-properties' %}
                {% endif %}

                <div class="product-single__quantity{% unless section.settings.product_quantity_enable %} is-hidden{% endunless %}">
                  <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                  <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                </div>

                <button type="submit" name="add" id="AddToCart" class="btn {{ btn_class }}{% if section.settings.enable_payment_button %} btn--secondary{% endif %}"{% unless current_variant.available %} disabled="disabled"{% endunless %}>
                  <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                </button>
                <div data-ajax-cart-errors="form"></div>
                {% if section.settings.enable_payment_button %}
                  {{ form | payment_button }}
                {% endif %}
              {% endform %}
            </ajax-cart-product-form>
          {% else %}
            <form>
              <button type="submit" name="add" id="AddToCart" class="btn {{ btn_class }}{% if section.settings.enable_payment_button %} btn--secondary{% endif %}"{% unless current_variant.available %} disabled="disabled"{% endunless %}>
                <span>{{ 'products.product.add_to_cart' | t }}</span>
              </button>
            </form>
          {% endunless %}

          <div class="product-description rte" itemprop="description">
            {{ product.description }}
          </div>

          {% comment %}
          <a class="product-single__full-details text-link"{% unless section_onboarding %} href="{{ product.url }}?variant={{ variant.id }}"{% endunless %}>
            {{ 'products.product.full_details' | t }} &#x2192;
          </a>
          {% endcomment %}

          {% if section.settings.social_sharing %}
            <hr class="hr--clear hr--small">
            <h2 class="h4">{{ 'products.general.share_title' | t }}</h2>
            {% include 'social-sharing' %}
          {% endif %}
        </div>

      </div>
    </div>
  </div>

</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}



{% schema %}
{
  "name": {
    "cs": "Propagovaný produkt",
    "da": "Fremhævet produkt",
    "de": "Vorgestelltes Produkt",
    "en": "Featured product",
    "es": "Producto destacado",
    "fi": "Esittelyssä oleva tuote",
    "fr": "Produit vedette",
    "it": "Prodotto in primo piano",
    "ja": "おすすめ商品",
    "ko": "특별 상품",
    "nb": "Utvalgt produkt",
    "nl": "Uitgelicht product",
    "pl": "Polecany produkt",
    "pt-BR": "Produto em destaque",
    "pt-PT": "Produto em destaque",
    "sv": "Utvald produkt",
    "th": "สินค้าที่แนะนำ",
    "tr": "Öne çıkan ürün",
    "vi": "Sản phẩm nổi bật",
    "zh-CN": "特色产品",
    "zh-TW": "精選產品"
  },
  "class": "index-section section-featured-product",
  "settings": [
    {
      "type": "product",
      "id": "featured_product",
      "label": {
        "cs": "Produkt",
        "da": "Produkt",
        "de": "Produkte",
        "en": "Product",
        "es": "Producto",
        "fi": "Tuote",
        "fr": "Produit",
        "it": "Prodotto",
        "ja": "商品",
        "ko": "제품",
        "nb": "Produkt",
        "nl": "Product",
        "pl": "Produkt",
        "pt-BR": "Produto",
        "pt-PT": "Produto",
        "sv": "Produkt",
        "th": "สินค้า",
        "tr": "Ürün",
        "vi": "Sản phẩm",
        "zh-CN": "产品",
        "zh-TW": "產品"
      }
    },
    {
      "type": "checkbox",
      "id": "product_vendor_enable",
      "label": {
        "cs": "Zobrazit dodavatele",
        "da": "Vis leverandør",
        "de": "Lieferanten anzeigen",
        "en": "Show vendor",
        "es": "Mostrar proveedor",
        "fi": "Näytä myyjä",
        "fr": "Afficher le distributeur",
        "it": "Mostra fornitore",
        "ja": "販売元を表示する",
        "ko": "공급업체 표시",
        "nb": "Vis leverandør",
        "nl": "Leverancier weergeven",
        "pl": "Pokaż dostawcę",
        "pt-BR": "Exibir fabricante",
        "pt-PT": "Mostrar fornecedor",
        "sv": "Visa säljare",
        "th": "แสดงผู้ขาย",
        "tr": "Satıcıyı göster",
        "vi": "Hiển thị nhà cung cấp",
        "zh-CN": "显示厂商",
        "zh-TW": "顯示廠商"
      }
    },
    {
      "type": "checkbox",
      "id": "product_quantity_enable",
      "label": {
        "cs": "Zobrazit výběr množství",
        "da": "Vis antalsvælger",
        "de": "Mengenauswahl anzeigen",
        "en": "Show quantity selector",
        "es": "Mostrar selector de cantidad",
        "fi": "Näytä määrän valitsin",
        "fr": "Afficher le sélecteur de quantité",
        "it": "Mostra selettore quantità",
        "ja": "数量セレクターを表示する",
        "ko": "수량 선택기 표시",
        "nb": "Vis mengdevelger",
        "nl": "Hoeveelheidskiezer weergeven",
        "pl": "Pokaż selektor ilości",
        "pt-BR": "Exibir seletor de quantidade",
        "pt-PT": "Mostrar um seletor de quantidade",
        "sv": "Visa kvantitetsväljare",
        "th": "แสดงตัวเลือกจำนวน",
        "tr": "Adet seçiciyi göster",
        "vi": "Hiển thị hộp chọn số lượng",
        "zh-CN": "显示数量选择器",
        "zh-TW": "顯示數量選擇器"
      }
    },
    {
      "type": "select",
      "id": "product_image_zoom_type",
      "label": {
        "cs": "Typ zvětšení obrázku",
        "da": "Billedzoomtype",
        "de": "Bildzoomtyp",
        "en": "Image zoom type",
        "es": "Tipo de zoom de imagen",
        "fi": "Kuvan zoomaustyyppi",
        "fr": "Type de zoom sur image",
        "it": "Tipo di zoom immagine",
        "ja": "画像のズームタイプ",
        "ko": "이미지 확대 유형",
        "nb": "Zoomtype for bilder",
        "nl": "Type zoom-afbeelding",
        "pl": "Typ powiększenia obrazu",
        "pt-BR": "Tipo de zoom da imagem",
        "pt-PT": "Tipo de zoom da imagem",
        "sv": "Bildzoomtyp",
        "th": "ประเภทการซูมภาพ",
        "tr": "Görsel yakınlaştırma türü",
        "vi": "Kiểu thu phóng hình ảnh",
        "zh-CN": "图片缩放类型",
        "zh-TW": "圖片縮放類型"
      },
      "options": [
        {
          "value": "lightbox",
          "label": {
            "cs": "Lightbox",
            "da": "Lightbox",
            "de": "Leuchtkasten",
            "en": "Lightbox",
            "es": "Lightbox",
            "fi": "Lightbox-valotaulu",
            "fr": "Visionneuse d'image",
            "it": "Lightbox",
            "ja": "Lightbox",
            "ko": "라이트 박스",
            "nb": "Lysboks",
            "nl": "Lightbox",
            "pl": "Lightbox",
            "pt-BR": "Lightbox",
            "pt-PT": "Lightbox",
            "sv": "Ljuslåda",
            "th": "Lightbox",
            "tr": "Lightbox",
            "vi": "Lightbox",
            "zh-CN": "灯箱",
            "zh-TW": "燈箱"
          }
        },
        {
          "value": "zoom-in",
          "label": {
            "cs": "Přiblížení",
            "da": "Zoom ind",
            "de": "Heranzoomen",
            "en": "Zoom-in",
            "es": "Acercar",
            "fi": "Lähennä",
            "fr": "Zoom avant",
            "it": "Zoom avanti",
            "ja": "ズームイン",
            "ko": "확대",
            "nb": "Zoom inn",
            "nl": "Inzoomen",
            "pl": "Powiększ",
            "pt-BR": "Mais zoom",
            "pt-PT": "Mais zoom",
            "sv": "Zooma in",
            "th": "ซูมเข้า",
            "tr": "Yakınlaştırma",
            "vi": "Phóng to",
            "zh-CN": "缩小",
            "zh-TW": "放大"
          }
        },
        {
          "value": "no-zoom",
          "label": {
            "cs": "Bez zvětšení",
            "da": "Ingen zoom",
            "de": "Nicht zoomen",
            "en": "No zoom",
            "es": "Sin zoom",
            "fi": "Ei zoomausta",
            "fr": "Pas de zoom",
            "it": "Nessun zoom",
            "ja": "ズームなし",
            "ko": "확대 없음",
            "nb": "Ingen zoom",
            "nl": "Geen zoom",
            "pl": "Bez powiększenia",
            "pt-BR": "Sem zoom",
            "pt-PT": "Sem zoom",
            "sv": "Ingen zoom",
            "th": "ไม่มีการซูม",
            "tr": "Yakınlaştırma yok",
            "vi": "Không thu phóng",
            "zh-CN": "无缩放",
            "zh-TW": "無縮放"
          }
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "social_sharing",
      "label": {
        "cs": "Zobrazit tlačítka pro sdílení na sociálních sítích",
        "da": "Vis knapper til deling på sociale medier",
        "de": "Social-Sharing-Schaltflächen anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Näytä sosiaalisen median jakamispainikkeet",
        "fr": "Afficher les boutons de partage social",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャルメディアでの共有ボタンを表示する",
        "ko": "소셜 공유 버튼 표시",
        "nb": "Vis knapper for deling på sosiale medier",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pl": "Pokaż przyciski udostępniania w mediach społecznościowych",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botões de partilha nas redes sociais",
        "sv": "Visa knappar för delning i sociala medier",
        "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
        "tr": "Sosyal medya paylaşım düğmelerini göster",
        "vi": "Hiển thị nút chia sẻ qua mạng xã hội",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": true,
      "info": {
        "cs": "Upravit účty na sociálních sítích v obecném nastavení",
        "da": "Rediger SoMe-konti i Generelle indstillinger",
        "de": "Bearbeite Social-Media-Konten in den allgemeinen Einstellungen",
        "en": "Edit social accounts in General settings",
        "es": "Editar cuentas de las redes sociales en la configuración General",
        "fi": "Muokkaa sosiaalisen median tilejä kohdassa Yleiset asetukset",
        "fr": "Modifier les comptes sociaux dans les paramètres généraux",
        "it": "Modifica gli account social nelle Impostazioni generali",
        "ja": "一般設定でSNSアカウントを編集する",
        "ko": "일반 설정에서 소셜 계정 수정",
        "nb": "Rediger sosiale kontoer i Generelle innstillinger",
        "nl": "Socialmedia-accounts in Algemene instellingen bewerken",
        "pl": "Edytuj konta społecznościowe w ustawieniach ogólnych",
        "pt-BR": "Edite as contas de redes sociais nas Configurações gerais",
        "pt-PT": "Editar as contas de redes sociais nas definições gerais",
        "sv": "Redigera sociala konton i Allmänna inställningar",
        "th": "แก้ไขบัญชีผู้ใช้โซเชียลมีเดียในการตั้งค่าทั่วไป",
        "tr": "Genel ayarlardan sosyal medya hesaplarını düzenleyin",
        "vi": "Chỉnh sửa tài khoản mạng xã hội trong Cài đặt chung",
        "zh-CN": "在“通用”设置中编辑社交媒体账户",
        "zh-TW": "前往「一般」設定編輯社群帳戶"
      }
    },
    {
      "type": "header",
      "content": {
        "cs": "Formulář produktových variant",
        "da": "Formular for produktmuligheder",
        "de": "Produktoptionsformular",
        "en": "Product options form",
        "es": "Formulario de opciones de producto",
        "fi": "Tuotevaihtoehtolomake",
        "fr": "Formulaire d'options de produit",
        "it": "Modulo delle opzioni di prodotto",
        "ja": "商品オプションのフォーム",
        "ko": "제품 옵션 양식",
        "nb": "Skjema for produktalternativer",
        "nl": "Formulier productopties",
        "pl": "Formularz opcji produktu",
        "pt-BR": "Formulário de opções de produtos",
        "pt-PT": "Formulário de opções de produtos",
        "sv": "Produktalternativsformulär",
        "th": "แบบฟอร์มตัวเลือกสินค้า",
        "tr": "Ürün seçenekleri formu",
        "vi": "Biểu mẫu tùy chọn sản phẩm",
        "zh-CN": "产品选项表单",
        "zh-TW": "產品選項表單"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "cs": "Zobrazit dynamické tlačítko pokladny",
        "da": "Vis dynamisk betalingsknap",
        "de": "Dynamischen Checkout Button anzeigen",
        "en": "Show dynamic checkout button",
        "es": "Mostrar botón de pago dinámico",
        "fi": "Näytä dynaaminen kassapainike",
        "fr": "Afficher le bouton de paiement dynamique",
        "it": "Mostra pulsante di check-out dinamico",
        "ja": "動的チェックアウトボタンを表示する",
        "ko": "동적 결제 버튼 표시",
        "nb": "Vis dynamisk knapp for å gå til kassen",
        "nl": "Dynamische checkoutknop weergeven",
        "pl": "Pokaż dynamiczny przycisk realizacji zakupu",
        "pt-BR": "Exibir botão de checkout dinâmico",
        "pt-PT": "Mostrar o botão dinâmico de finalização da compra",
        "sv": "Visa dynamiska utcheckningsknappar",
        "th": "แสดงปุ่มชำระเงินแบบไดนามิก",
        "tr": "Dinamik ödeme düğmesini göster",
        "vi": "Hiển thị nút thanh toán nhanh",
        "zh-CN": "显示动态结账按钮",
        "zh-TW": "顯示動態結帳按鈕"
      },
      "info": {
        "cs": "Každý zákazník uvidí platební metodu, kterou ze všech metod dostupných v obchodě (například PayPal nebo Apple Pay) nejvíce preferuje. [Další informace](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "da": "Den enkelte kunde vil se sin foretrukne betalingsmetode blandt dem, der er tilgængelige i din butik, f.eks. PayPal eller Apple Pay. [Få mere at vide](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in deinem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Informationen](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fi": "Kukin asiakas näkee ensisijaisen valintansa kauppasi tarjoamista maksutavoista, esim. PayPal tai Apple Pay. [Lisätietoja](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[詳しくはこちら](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ko": "각 고객은 PayPal 또는 Apple Pay와 같이 스토어에서 사용 가능한 지불 방법을 확인할 수 있습니다. [자세히 알아보기](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nb": "Hver enkelt kunde vil se sin foretrukne betalingsmåte blant de som er tilgjengelig i butikken din, som PayPal eller Apple Pay. [Finn ut mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pl": "Każdy klient zobaczy swoją preferowaną metodę płatności wśród metod dostępnych w Twoim sklepie, np. PayPal lub Apple Pay. [Dowiedz się więcej](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-BR": "Cada cliente verá a forma de pagamento preferencial dele dentre as disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-PT": "Cada cliente irá ver o seu método de pagamento preferido entre os disponíveis na loja, como o PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "sv": "Varje kund kommer att se den föredragna betalningsmetoden från de som finns tillgängliga i din butik, till exempel PayPal eller Apple Pay. [Läs mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "th": "ลูกค้าแต่ละรายจะเห็นวิธีการชำระเงินที่ต้องการจากวิธีที่ใช้ได้ในร้านค้าของคุณ เช่น PayPal หรือ Apple Pay [ดูข้อมูลเพิ่มเติม](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "tr": "Her müşteri, mağazanız sunulanlar arasından tercih ettikleri ödeme yöntemini görür (ör. PayPal veya Apple Pay). [Daha fazla bilgi edinin](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "vi": "Mỗi khách hàng sẽ thấy phương thức thanh toán ưu tiên trong những phương thức thanh toán được hỗ trợ tại cửa hàng như PayPal hoặc Apple Pay. [Tìm hiểu thêm](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-TW": "每位顧客都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": true
    },
    {
      "type": "select",
      "id": "add_to_cart_width",
      "label": {
        "cs": "Velikost selektoru variant a tlačítek",
        "da": "Variantvælger og knapstørrelse",
        "de": "Variantenauswahl und Schaltflächengröße",
        "en": "Variant picker and button size",
        "es": "Selector de variantes y tamaño del botón",
        "fi": "Versionvalitsin ja painikkeen koko",
        "fr": "Sélecteur de variante et taille du bouton",
        "it": "Dimensione selettore variante e pulsante",
        "ja": "バリエーションピッカーとボタンサイズ",
        "ko": "이형 상품 선택기 및 버튼 사이즈",
        "nb": "Variantvelger og knappestørrelse",
        "nl": "Variantkiezer en knopgrootte",
        "pl": "Rozmiar selektora wariantów i przycisku",
        "pt-BR": "Tamanho do botão e do seletor de variante",
        "pt-PT": "Tamanho dos botões e seletor de variante",
        "sv": "Variantväljare och knappstorlek",
        "th": "รายการเครื่องมือเลือกสินค้าและขนาดของปุ่ม",
        "tr": "Varyasyon seçici ve düğme boyutu",
        "vi": "Trình chọn mẫu mã và cỡ nút",
        "zh-CN": "多属性选择器和按钮大小",
        "zh-TW": "子類選擇器和按鈕尺寸"
      },
      "default": "small",
      "options": [
        {
          "value": "small",
          "label": {
            "cs": "Malá",
            "da": "Lille",
            "de": "Klein",
            "en": "Small",
            "es": "Pequeño",
            "fi": "Pieni",
            "fr": "Petite",
            "it": "Small",
            "ja": "小",
            "ko": "스몰",
            "nb": "Liten",
            "nl": "Klein",
            "pl": "Mały",
            "pt-BR": "Pequeno",
            "pt-PT": "Pequeno",
            "sv": "Liten",
            "th": "เล็ก",
            "tr": "Küçük",
            "vi": "Nhỏ",
            "zh-CN": "小",
            "zh-TW": "小型"
          }
        },
        {
          "value": "medium",
          "label": {
            "cs": "Střední",
            "da": "Medium",
            "de": "Mitte",
            "en": "Medium",
            "es": "Mediano",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "it": "Medium",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pl": "Średni",
            "pt-BR": "Médio",
            "pt-PT": "Intermédio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "tr": "Orta",
            "vi": "Trung bình",
            "zh-CN": "中等",
            "zh-TW": "中等"
          }
        },
        {
          "value": "large",
          "label": {
            "cs": "Velká",
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "it": "Large",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pl": "Duży",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "tr": "Büyük",
            "vi": "Lớn",
            "zh-CN": "大",
            "zh-TW": "大型"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Propagovaný produkt",
        "da": "Fremhævet produkt",
        "de": "Vorgestelltes Produkt",
        "en": "Featured product",
        "es": "Producto destacado",
        "fi": "Esittelyssä oleva tuote",
        "fr": "Produit vedette",
        "it": "Prodotto in primo piano",
        "ja": "おすすめ商品",
        "ko": "특별 상품",
        "nb": "Utvalgt produkt",
        "nl": "Uitgelicht product",
        "pl": "Polecany produkt",
        "pt-BR": "Produto em destaque",
        "pt-PT": "Produto em destaque",
        "sv": "Utvald produkt",
        "th": "สินค้าที่แนะนำ",
        "tr": "Öne çıkan ürün",
        "vi": "Sản phẩm nổi bật",
        "zh-CN": "特色产品",
        "zh-TW": "精選產品"
      },
      "category": {
        "cs": "Produkty",
        "da": "Produkter",
        "de": "Produkte",
        "en": "Products",
        "es": "Productos",
        "fi": "Tuotteet",
        "fr": "Produits",
        "it": "Prodotti",
        "ja": "商品について",
        "ko": "제품",
        "nb": "Produkter",
        "nl": "Producten",
        "pl": "Produkty",
        "pt-BR": "Produtos",
        "pt-PT": "Produtos",
        "sv": "Produkter",
        "th": "สินค้า",
        "tr": "Ürünler",
        "vi": "Sản phẩm",
        "zh-CN": "产品",
        "zh-TW": "產品"
      }
    }
  ]
}
{% endschema %}
