{% comment %}
  /sections/ajax-cart.liquid

  Add a wrapper with a [data-ajax-cart-section] attribute 
  so that Liquid Ajax Cart knows that the section should be rerendered
  after user's cart state is changed.
{% endcomment %}

<div data-ajax-cart-section>
  <div>
    <h2>Cart</h2>
    <p>The section gets updated after each action because it has a content wrapper with the <a href="https://liquid-ajax-cart.js.org/reference/data-ajax-cart-section/" target="_blank">data-ajax-cart-section</a> attribute.</p>
  </div>
  <div data-ajax-cart-section-scroll >
    {% for item in cart.items %}
      <div class="ajax-cart__line-item" >
        <div><a class="h3" href="{{ item.url }}">{{ item.product.title }}</a></div>
        {% unless item.product.has_only_default_variant %}
          <div><small>{{ item.variant.title }}</small></div>
        {% endunless %}
        {% assign item_index = forloop.index %}
        {% for property in item.properties %}
          <div>
            <small>
              <span class="ajax-cart__property-label">
                {% if property.first != 'Is a gift' %}
                  {{ property.first }}:
                {% endif %}
              </span>
              {% if property.first == 'Engraving' %}
                <input 
                  type="text"
                  class="my-cart__input my-cart__input--property"
                  value="{{ property.last }}" 
                  data-ajax-cart-property-input="{{ item_index }} {{ property.first }}"/>
              {% elsif property.first == 'Position' %}
                <select 
                  id="engraving_position" 
                  data-ajax-cart-property-input="{{ item_index }} {{ property.first }}"
                  name="properties[Position]">
                    <option value="">Not selected</option>
                    {% assign suggested_positions = 'Left|Center|Right' | split: '|' %}
                    {% for position in suggested_positions %}
                      <option value="{{ position }}" {% if position == property.last %} selected {% endif %}>{{ position }}</option>
                    {% endfor %}
                </select>
              {% elsif property.first == 'Package' %}
                {% assign suggested_packages = 'Red|Green|Blue' | split: '|' %}
                {% for package in suggested_packages %}
                  <label>
                    <input 
                      type="radio" 
                      name="{{ item_index }}_{{ property.first | handleize }}" 
                      value="{{ package }}" 
                      data-ajax-cart-property-input="{{ item_index }} {{ property.first }}"
                      {% if package == property.last %} checked {% endif %} /> 
                    {{ package }}
                  </label>
                {% endfor %}
              {% elsif property.first == 'Is a gift' %}
                <label>
                  <input type="hidden" value="No" data-ajax-cart-property-input="{{ item_index }} {{ property.first }}">
                  <input 
                    type="checkbox" 
                    value="Yes"
                    data-ajax-cart-property-input="{{ item_index }} {{ property.first }}"
                    {% if property.last == 'Yes' %} checked {% endif %} />
                  Is a gift
                </label>
              {% else %}
                {{ property.last }}
              {% endif %}
            </small>
          </div>
        {% endfor %}
        <p>
          <small>
            Price: 
            {% if item.original_price != item.final_price %}
              <del>{{ item.original_price | money }}</del>
              {{ item.final_price | money }}
            {% else %}
              {{ item.original_price | money }} 
            {% endif %}
          </small>
        </p>

        <div>
          <span>Quantity: </span>
          {% if item.properties._autoadded == 'Yes' %}
            <span>{{ item.quantity }}</span>
          {% else %}       
            <a 
              href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | minus: 1 }}" 
              class="ajax-cart__quantity-button"
            >
              <i>-</i>
            </a>
            <input 
              class="my-cart__input my-cart__input--qty"
              type="number" 
              value="{{ item.quantity }}" 
              min="0" 
              data-ajax-cart-quantity-input="{{ forloop.index }}"
            />
            <a 
              href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | plus: 1 }}" 
              class="ajax-cart__quantity-button"
            >
              <i>+</i>
            </a>
          {% endif %}
        </div>
        <div data-ajax-cart-messages="{{ item.key }}"></div>

        <div> Total: <strong>
          {% if item.original_line_price != item.final_line_price %}
            <del>{{ item.original_line_price | money }}</del>
            {{ item.final_line_price | money }}
          {% else %}
            {{ item.original_line_price | money }}
          {% endif %}
          
        </strong> </div>
        <div>
          {% unless item.properties._autoadded == 'Yes' %}
            <a 
              href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0" 
              class="ajax-cart__remove-button"
            >
              <small>Remove</small>
            </a>
          {% endunless %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div> <a href="#checkout-route">Checkout — {{ cart.total_price | money_with_currency }}</a> </div>
</div>

{% schema %}
{
  "name": "My Cart"
}
{% endschema %}

{% style %}
  .ajax-cart__line-item label {
    display: inline-block;
    margin-bottom: 0;
  }
  .ajax-cart__line-item label:not(:first-child) {
    margin-left: .3em;
  }

  .ajax-cart__line-item label input {
    vertical-align: -0.1em;
  }

  .ajax-cart__property-label {
    min-width: 75px;
    display: inline-block;
  }

  .ajax-cart__line-item select {
    display: inline-block;
    width: auto;
    padding: 1px 27px 1px 3px;
    margin-bottom: 0;
  }

  input.my-cart__input {
    display: inline;
    margin: 0;
    padding: 1px 3px;
  }
  input.my-cart__input--qty {
    width: 53px;
  }
  input.my-cart__input--property {
    width: 77px;
  }
{% endstyle %}
