{% comment %}
  /sections/ajax-cart.liquid

  Add a wrapper with a [data-ajax-cart-section] attribute 
  so that Liquid Ajax Cart knows that the section should be rerendered
  after user's cart state is changed.
{% endcomment %}

<div data-ajax-cart-section>
  <div>
    <h2>Section "my-cart"</h2>
    <p>The section gets updated after each action because it has a content wrapper with the <a href="https://liquid-ajax-cart.js.org/reference/data-ajax-cart-section/" target="_blank">data-ajax-cart-section</a> attribute.</p>
    {{ "now" | date: '%S' }}
  </div>
  <div data-ajax-cart-section-scroll >
    {% for item in cart.items %}
      <div class="ajax-cart__line-item" >
        <p>
          <a class="h3" href="{{ item.url }}">{{ item.product.title }}</a> <br/>
          {% unless item.product.has_only_default_variant %}
            <small>{{ item.variant.title }}</small> <br/>
          {% endunless %}
          <small> Price: {{ item.final_price | money }} </small>
        </p>

        <div>
          <span>Quantity: </span>
          <a 
            href="{{ routes.cart_change_url }}?id={{ item.key }}&quantity={{ item.quantity | minus: 1 }}" 
            class="ajax-cart__quantity-button"
          >
            <i>-</i>
          </a>
          <input 
            class="my-cart__quantity-input"
            type="number" 
            value="{{ item.quantity }}" 
            min="0" 
            data-ajax-cart-quantity-input="{{ item.key }}"
          />
          <a 
            href="{{ routes.cart_change_url }}?id={{ item.key }}&quantity={{ item.quantity | plus: 1 }}" 
            class="ajax-cart__quantity-button"
          >
            <i>+</i>
          </a>
        </div>
        <div data-ajax-cart-messages="{{ item.key }}"></div>

        <div> Total: <strong>{{ item.final_line_price | money }}</strong> </div>
        <div>
          <a 
            href="{{ routes.cart_change_url }}?id={{ item.key }}&quantity=0" 
            class="ajax-cart__remove-button"
          >
            <small>Remove</small>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
  <div> <a href="#checkout-route">Checkout — {{ cart.total_price | money_with_currency }}</a> </div>
</div>

{% schema %}
{
  "name": "My Cart"
}
{% endschema %}

{% style %}
  input.my-cart__quantity-input {
    width: 53px;
    display: inline;
    margin: 0;
    padding: 1px 3px;
  }
{% endstyle %}
