<style>
  .password-page__logo .logo {
    width: {{ section.settings.logo_max_width | escape }}px;
  }
</style>

<header class="password-page__header" role="banner"  data-section-id="{{ section.id }}" data-section-type="password-header">
  <div class="password-page__header__inner">
    {% comment %}
      Link to password modal
    {% endcomment %}
    <p class="password-login text-right small--text-center">
      <a href="#LoginModal" class="js-toggle-login-modal" data-mfp-src="#LoginModal">
        {% include 'svg-definitions' with 'lock-icon' %}
        {{ 'general.password_page.password_link' | t }}
      </a>
    </p>

    {% comment %}
      Site name or logo
    {% endcomment %}
    <div class="password-page__logo">
      <h1 class="h2" itemscope itemtype="http://schema.org/Organization">
      {% assign logo_width = section.settings.logo_max_width | escape | times: 1 %}
      {% if section.settings.logo != blank and logo_width <= 2048 %}
        {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
        <img class="logo" src="{{ section.settings.logo | img_url: image_size }}" alt="{{ shop.name }}" itemprop="logo">
      {% else %}
        <span>{{ shop.name }}</span>
      {% endif %}
      </h1>
    </div>
  </div>
</header>



{% schema %}
{
  "name": {
    "cs": "Záhlaví",
    "da": "Overskrift",
    "de": "Titel",
    "en": "Header",
    "es": "Encabezado",
    "fi": "Ylätunniste",
    "fr": "En-tête",
    "it": "Header",
    "ja": "ヘッダー",
    "ko": "헤더",
    "nb": "Header",
    "nl": "Koptekst",
    "pl": "Nagłówek",
    "pt-BR": "Cabeçalho",
    "pt-PT": "Cabeçalho",
    "sv": "Rubrik",
    "th": "ส่วนหัว",
    "tr": "Üstbilgi",
    "vi": "Đầu trang",
    "zh-CN": "标头",
    "zh-TW": "標頭"
  },
  "class": "password-header-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "cs": "Obrázek loga",
        "da": "Logobillede",
        "de": "Logo-Foto",
        "en": "Logo image",
        "es": "Logo",
        "fi": "Logokuva",
        "fr": "Image du logo",
        "it": "Immagine del logo",
        "ja": "ロゴ画像",
        "ko": "로고 이미지",
        "nb": "Logobilde",
        "nl": "Afbeelding van logo",
        "pl": "Obraz logo",
        "pt-BR": "Imagem do logo",
        "pt-PT": "Imagem do logótipo",
        "sv": "Logobild",
        "th": "รูปภาพโลโก้",
        "tr": "Logo görseli",
        "vi": "Hình ảnh logo",
        "zh-CN": "logo 图片",
        "zh-TW": "標誌圖片"
      }
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": {
        "cs": "Šířka vlastního loga (v pixelech, maximálně 2 048)",
        "da": "Bredde på tilpasset logo (i pixels, maks. 2048)",
        "de": "Benutzerdefinierte Logobreite (in Pixel, max. 2048)",
        "en": "Custom logo width (in pixels, max 2048)",
        "es": "Ancho del logo personalizado (en píxeles, máx. 2048)",
        "fi": "Mukautetun logon leveys (pikseleinä, enintään 2048)",
        "fr": "Largeur personnalisée du logo (en pixels, max. 2 048)",
        "it": "Larghezza logo personalizzato (in pixel, massimo 2048)",
        "ja": "ロゴの幅をカスタマイズする (最大2048ピクセル)",
        "ko": "사용자 지정 로고 폭 (픽셀, 최대 2048)",
        "nb": "Tilpasset logobredde (i piksler, maks 2048)",
        "nl": "Breedte aangepast logo (in pixels, max 2048)",
        "pl": "Niestandardowa szerokość logo (w pikselach, maks. 2048)",
        "pt-BR": "Largura do logo personalizado (em pixels, máx. 2048)",
        "pt-PT": "Largura de logótipo personalizada (em píxeis, máx. 2048)",
        "sv": "Anpassad logotypsbredd (i pixlar, max 2048)",
        "th": "ความกว้างของโลโก้แบบกำหนดเอง (เป็นพิกเซลสูงสุด 2048)",
        "tr": "Özel logo genişliği (piksel, maksimum 2048)",
        "vi": "Chiều rộng logo tùy chỉnh (pixel, tối đa 2048)",
        "zh-CN": "自定义 logo 宽度（以像素为单位，最大为 2048）",
        "zh-TW": "自訂商標寬度 (單位為像素，最大 2048 像素)"
      },
      "default": {
        "cs": "200",
        "da": "200",
        "de": "200",
        "en": "200",
        "es": "200",
        "fi": "200",
        "fr": "200",
        "it": "200",
        "ja": "200",
        "ko": "200",
        "nb": "200",
        "nl": "200",
        "pl": "200",
        "pt-BR": "200",
        "pt-PT": "200",
        "sv": "200",
        "th": "200",
        "tr": "200",
        "vi": "200",
        "zh-CN": "200",
        "zh-TW": "200"
      }
    }
  ]
}
{% endschema %}
