<div class="password-page__main__inner">

  {% comment %}
    Opening soon text
  {% endcomment %}
  {% unless section.settings.title == blank %}
    <h2 class="password-page__hero">{{ section.settings.title | escape }}</h2>
  {% endunless %}

  {% comment %}
    Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
  {% endcomment %}

  {% unless shop.password_message == blank %}
    <div class="password-page__message">
      {{ shop.password_message }}
    </div>
    <hr class="hr">
  {% endunless %}

  {% comment %}
    Signup form
  {% endcomment %}

  {% if section.settings.newsletter_enable %}
    <div class="password-page__signup-form">
      {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
        {% else %}
          <p class="password-page__signup-heading h3">{{ section.settings.newsletter_form_heading | escape }}</p>
          {% unless section.settings.newsletter_form_subheading == blank %}
            <div class="password-page__signup-subheading">
              {{ section.settings.newsletter_form_subheading }}
            </div>
          {% endunless %}
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
          <div class="input-group">
            <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="{{ section.settings.newsletter_placeholder | escape }}">
            <span class="input-group-btn">
              <button type="submit" class="btn password-page__signup-form__submit">
                <span>{{ section.settings.newsletter_button_text | escape }}</span>
              </button>
            </span>
          </div>
        {% endif %}
      {% endform %}
    </div>
  {% endif %}

  {% comment %}
    Share homepage URL
    Shared text is from the store meta description
  {% endcomment %}

  {% if section.settings.show_share_buttons %}
  <div class="password-page__social-sharing">
    <p class="h4">{{ section.settings.social_message | escape }}</p>
    {% include 'social-sharing' %}
  </div>
  {% endif %}

</div>



{% schema %}
{
  "name": {
    "cs": "Obsah",
    "da": "Indhold",
    "de": "Inhalt",
    "en": "Content",
    "es": "Contenido",
    "fi": "Sisältö",
    "fr": "Contenu",
    "it": "Contenuto",
    "ja": "コンテンツ",
    "ko": "콘텐츠",
    "nb": "Innhold",
    "nl": "Content",
    "pl": "Treść",
    "pt-BR": "Conteúdo",
    "pt-PT": "Conteúdo",
    "sv": "Innehåll",
    "th": "เนื้อหา",
    "tr": "İçerik",
    "vi": "Nội dung",
    "zh-CN": "内容",
    "zh-TW": "內容"
  },
  "class": "password-page__main",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "Titre",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "cs": "Brzy otevíráme",
        "da": "Åbner snart",
        "de": "Eröffnet demnächst",
        "en": "Opening Soon",
        "es": "Apertura próximamente",
        "fi": "Avataan pian",
        "fr": "Ouverture prochaine",
        "it": "Prossima apertura",
        "ja": "まもなくオープンします",
        "ko": "곧 개장",
        "nb": "Åpner snart",
        "nl": "Binnenkort geopend",
        "pl": "Wkrótce otwarcie",
        "pt-BR": "Abertura em breve",
        "pt-PT": "Abre Brevemente",
        "sv": "Öppnar snart",
        "th": "จะเปิดเร็วๆ นี้",
        "tr": "Yakında Açılıyor",
        "vi": "Sắp khai trương",
        "zh-CN": "即将开业",
        "zh-TW": "即將開張"
      }
    },
    {
      "type": "header",
      "content": {
        "cs": "Novinky",
        "da": "Nyhedsbrev",
        "de": "Newsletter",
        "en": "Newsletter",
        "es": "Boletín",
        "fi": "Uutiskirje",
        "fr": "Newsletter",
        "it": "Newsletter",
        "ja": "ニュースレター",
        "ko": "뉴스레터",
        "nb": "Nyhetsbrev",
        "nl": "Nieuwsbrief",
        "pl": "Newsletter",
        "pt-BR": "Newsletter",
        "pt-PT": "Newsletter",
        "sv": "Nyhetsbrev",
        "th": "จดหมายข่าว",
        "tr": "Bülten",
        "vi": "Bản tin",
        "zh-CN": "新闻通讯",
        "zh-TW": "電子報"
      }
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": {
        "cs": "Zobrazit přihlášení k odběru novinek",
        "da": "Vis tilmelding til nyhedsbrev",
        "de": "Newsletter-Anmeldung anzeigen",
        "en": "Show newsletter signup",
        "es": "Mostrar suscripción al boletín",
        "fi": "Näytä uutiskirjeen tilaus",
        "fr": "Afficher l'inscription à la newsletter",
        "it": "Mostra iscrizione alla newsletter",
        "ja": "ニュースレターの登録を表示する",
        "ko": "뉴스레터 신청 표시",
        "nb": "Vis nyhetsbrev-registrering",
        "nl": "Aanmelden voor nieuwsbrief weergeven",
        "pl": "Pokaż rejestrację do newslettera",
        "pt-BR": "Exibir assinatura da newsletter",
        "pt-PT": "Mostrar registo na newsletter",
        "sv": "Visa nyhetsbrevsregistrering",
        "th": "แสดงการสมัครรับจดหมายข่าว",
        "tr": "Bülten kaydını göster",
        "vi": "Hiển thị đăng ký nhận bản tin",
        "zh-CN": "显示新闻通讯注册",
        "zh-TW": "顯示訂閱電子報"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": {
        "cs": "Nadpis formuláře novinek",
        "da": "Overskrift til nyhedsbrevsformular",
        "de": "Überschrift für Newsletter-Formular",
        "en": "Newsletter form heading",
        "es": "Título del formulario del boletín",
        "fi": "Uutiskirjelomakkeen otsikko",
        "fr": "Titre du formulaire de la newsletter",
        "it": "Titolo del modulo della newsletter",
        "ja": "ニュースレターフォームの見出し",
        "ko": "뉴스레터 양식 제목",
        "nb": "Skjemaoverskrift for nyhetsbrev",
        "nl": "Kop van nieuwsbriefformulier",
        "pl": "Nagłówek formularza newslettera",
        "pt-BR": "Título do formulário da newsletter",
        "pt-PT": "Título do formulário da newsletter",
        "sv": "Nyhetsbrevsformulärrubrik",
        "th": "ส่วนหัวแบบฟอร์มจดหมายข่าว",
        "tr": "Bülten form başlığı",
        "vi": "Tiêu đề biểu mẫu nhận bản tin",
        "zh-CN": "标题中的新闻通讯",
        "zh-TW": "電子報表單標題"
      },
      "default": {
        "cs": "Zjistěte podrobnosti o uvedení novinek jako první.",
        "da": "Vær blandt de første til at få besked ved lancering.",
        "de": "Erfahre zuerst, wann unser Shop gelauncht wird.",
        "en": "Be the first to know when we launch.",
        "es": "Entérate de nuestros lanzamientos antes que los demás.",
        "fi": "Saa tieto julkistuksistamme ensimmäisenä",
        "fr": "Faites partie des premières personnes à être informées de notre lancement.",
        "it": "Vuoi sapere subito quando apriremo? Lasciaci il tuo indirizzo email!",
        "ja": "ストアに関する最新情報をメールでお知らせします。",
        "ko": "출시 할 때 먼저 알아야합니다.",
        "nb": "Vær den første som får beskjed når vi lanserer.",
        "nl": "Kom als eerste te weten wanneer we van start gaan.",
        "pl": "Bądź pierwszą osobą, która dowie się o naszym otwarciu.",
        "pt-BR": "Seja o primeiro a saber quando lançarmos.",
        "pt-PT": "Seja o primeiro a saber quando é o lançamento.",
        "sv": "Var den första som vet när vi kör igång.",
        "th": "รับรู้ข่าวสารการเปิดตัวของเราก่อนใคร",
        "tr": "Kullanıma sunduğumuzu ilk siz öğrenin.",
        "vi": "Trở thành người đầu tiên biết khi chúng tôi ra mắt.",
        "zh-CN": "成为第一批知道我们何时推出新内容的客户。",
        "zh-TW": "搶先收到產品發佈消息。"
      },
      "info": {
        "cs": "[Informujte návštěvníky o slevě při otevření obchodu](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "da": "[Fortæl dine besøgende om en rabat på lanceringsdagen](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "de": "[Informiere deine Besucher über einen Eröffnungsrabatt](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "en": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "es": "[Informa a tus visitantes sobre un descuento el día de lanzamiento](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "fi": "[Kerro vierailijoille julkaisupäivän alennuksesta](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "fr": "[Parlez à vos visiteurs d'une réduction pour le jour du lancement](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "it": "[Informa i tuoi visitatori dello sconto previsto per il giorno del lancio](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "ja": "[訪問者に発売日のディスカウントについて伝える](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
        "ko": "[방문자에게 개장일 할인에 대해 알리십시오.](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)",
        "nb": "[Fortell dine besøkende om en lanseringsrabatt](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "nl": "[Vertel je bezoekers over een lanceringskorting](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "pl": "[Poinformuj swoich odwiedzających o rabacie w dniu uruchomienia](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "pt-BR": "[Informe seus visitantes sobre um desconto no dia de lançamento](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "pt-PT": "[Informe os seus visitantes sobre um desconto no dia de lançamento](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "sv": "[Berätta för dina besökare om en rabatt på lanseringsdagen](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "th": "[บอกให้ผู้เข้าชมทราบเกี่ยวกับส่วนลดในวันเปิดตัว](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)",
        "tr": "[Müşterilerinize açılış günü indirimi hakkında bilgi verin](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "vi": "[Chia sẻ với khách truy cập về giảm giá trong ngày ra mắt](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "zh-CN": "[向访客介绍发布日折扣](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
        "zh-TW": "[向訪客介紹發佈日折扣](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      }
    },
    {
      "type": "richtext",
      "id": "newsletter_form_subheading",
      "label": {
        "cs": "Podnadpis formuláře novinek",
        "da": "Underoverskrift til nyhedsbrevsformular",
        "de": "Untertitel für Newsletter-Formular",
        "en": "Newsletter form subheading",
        "es": "Subtítulo del formulario del boletín",
        "fi": "Uutiskirjelomakkeen alaotsikko",
        "fr": "Sous-titre du formulaire de la newsletter",
        "it": "Sottotitolo del modulo della newsletter",
        "ja": "ニュースレターフォームの小見出し",
        "ko": "뉴스레터 양식 소제목",
        "nb": "Underoverskrift for nyhetsbrevskjema",
        "nl": "Subkop van nieuwsbriefformulier",
        "pl": "Nagłówek podrzędny formularza newslettera",
        "pt-BR": "Subtítulo do formulário da newsletter",
        "pt-PT": "Subtítulo do formulário da newsletter",
        "sv": "Nyhetsbrevsformulär underrubrik",
        "th": "หัวเรื่องย่อยแบบฟอร์มจดหมายข่าว",
        "tr": "Bülten formu alt başlığı",
        "vi": "Tiêu đề phụ biểu mẫu nhận bản tin",
        "zh-CN": "副标题中的新闻通讯",
        "zh-TW": "電子報表單副標題"
      },
      "default": {
        "cs": "<p>Získejte informace o propagačních akcích, nových produktech a slevách – přímo do své schránky.</p>",
        "da": "<p>Reklamer, nye produkter og salg. Direkte i din indbakke.</p>",
        "de": "<p>Werbeaktionen, neue Produkte und Sonderangebote. Direkt in deinem Posteingang.</p>",
        "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>",
        "es": "<p>Promociones, nuevos productos y ventas. Directamente a tu bandeja de entrada.</p>",
        "fi": "<p>Kampanjat, uudet tuotteet ja myynti. Suoraan saapuneet-kansioosi</p>",
        "fr": "<p>Promotions, nouveaux produits et soldes. Directement dans votre boîte de réception.</p>",
        "it": "<p>Promozioni, nuovi prodotti e offerte. Direttamente nella tua casella di posta.</p>",
        "ja": "<p>新商品やセール情報などのお得な情報をお届けします。</p>",
        "ko": "<p>프로모션, 신제품, 판매. 받은 편지함으로 바로 이동.</p>",
        "nb": "<p>Kampanjer, nye produkter og salg. Direkte i innboksen din.</p>",
        "nl": "<p>Promoties, nieuwe producten en uitverkoop rechtstreeks in je inbox.</p>",
        "pl": "<p>Promocje, nowe produkty i wyprzedaże. Bezpośrednio do Twojej skrzynki odbiorczej.</p>",
        "pt-BR": "<p>Promoções, novos produtos e ofertas, diretamente em sua caixa de entrada.</p>",
        "pt-PT": "<p>Promoções, novos produtos e ofertas. Diretamente na sua caixa de entrada.</p>",
        "sv": "<p>Kampanjer, nya produkter och försäljning. Direkt till din inkorg.</p>",
        "th": "<p>โปรโมชัน สินค้าใหม่ และการลดราคา ตรงสู่กล่องจดหมายเข้าของคุณ</p>",
        "tr": "<p>Promosyonlar, yeni ürünler ve indirimler. Doğrudan gelen kutunuzda.</p>",
        "vi": "<p>Khuyến mãi, sản phẩm mới và chương trình giảm giá. Trực tiếp vào hộp thư đến của bạn.</p>",
        "zh-CN": "<p>促销、新产品和销售。直接发送到您的收件箱。</p>",
        "zh-TW": "<p>讓您直接在收件匣內收取促銷活動、最新產品和特賣活動訊息。</p>"
      }
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": {
        "cs": "Text newsletteru s novinkami",
        "da": "Labeltekst til nyhedsbrev",
        "de": "Beschriftungstext für Newsletter",
        "en": "Newsletter label text",
        "es": "Texto de la etiqueta del boletín",
        "fi": "Uutiskirjeen osoitelapun teksti",
        "fr": "Texte de l'étiquette de la newsletter",
        "it": "Testo etichetta newsletter",
        "ja": "ニュースレターラベルのテキスト",
        "ko": "뉴스레터 레이블 텍스트",
        "nb": "Etikettekst for nyhetsbrev",
        "nl": "Labeltekst van nieuwsbrief",
        "pl": "Tekst etykiety newslettera",
        "pt-BR": "Texto da etiqueta da newsletter",
        "pt-PT": "Texto da etiqueta da newsletter",
        "sv": "Etikettext för nyhetsbrev",
        "th": "ข้อความป้ายกำกับจดหมายข่าว",
        "tr": "Bülten etiket metni",
        "vi": "Văn bản nhãn nhận bản tin",
        "zh-CN": "新闻通讯标签文本",
        "zh-TW": "電子報標籤文字"
      },
      "default": {
        "cs": "E-mailová adresa",
        "da": "Mailadresse",
        "de": "E-Mail-Adresse",
        "en": "Email address",
        "es": "Dirección de correo electrónico",
        "fi": "Sähköpostiosoite",
        "fr": "Adresse e-mail",
        "it": "Indirizzo email",
        "ja": "メールアドレス",
        "ko": "이메일 주소",
        "nb": "E-postadresse",
        "nl": "E-mailadres",
        "pl": "Adres e-mail",
        "pt-BR": "E-mail",
        "pt-PT": "Endereço de e-mail",
        "sv": "E-postadress",
        "th": "อีเมล",
        "tr": "E-posta adresi",
        "vi": "Địa chỉ email",
        "zh-CN": "电子邮件地址",
        "zh-TW": "電子郵件地址"
      }
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": {
        "cs": "Text tlačítka novinek",
        "da": "Knaptekst til nyhedsbrev",
        "de": "Text für Newsletter-Schaltfläche",
        "en": "Newsletter button text",
        "es": "Texto del botón del boletín",
        "fi": "Uutiskirjeen painiketeksti",
        "fr": "Texte du bouton de la newsletter",
        "it": "Testo del pulsante newsletter",
        "ja": "ニュースレターボタンのテキスト",
        "ko": "뉴스레터 버튼 텍스트",
        "nb": "Knappetekst for nyhetsbrev",
        "nl": "Tekst knop nieuwsbrief",
        "pl": "Tekst przycisku newslettera",
        "pt-BR": "Texto do botão da newsletter",
        "pt-PT": "Texto do botão da newsletter",
        "sv": "Nyhetsbrevsknapptext",
        "th": "ข้อความปุ่มจดหมายข่าว",
        "tr": "Bülten düğme metni",
        "vi": "Văn bản nút nhận bản tin",
        "zh-CN": "新闻通讯按钮文本",
        "zh-TW": "電子報按鈕文字"
      },
      "default": {
        "cs": "Upozornit mě",
        "da": "Giv mig besked",
        "de": "Sage mir Bescheid",
        "en": "Notify me",
        "es": "Notificarme",
        "fi": "Ilmoita minulle",
        "fr": "Je souhaite être informé(e)",
        "it": "Avvisami",
        "ja": "通知を受け取る",
        "ko": "나에게 알리기",
        "nb": "Varsle meg",
        "nl": "Laat het me weten",
        "pl": "Powiadom mnie",
        "pt-BR": "Notifique-me",
        "pt-PT": "Notificar-me",
        "sv": "Meddela mig",
        "th": "แจ้งเตือนฉัน",
        "tr": "Bana bildir",
        "vi": "Thông báo cho tôi",
        "zh-CN": "通知我",
        "zh-TW": "通知我"
      }
    },
    {
      "type": "header",
      "content": {
        "cs": "Sdílení na sociálních sítích",
        "da": "Deling på sociale medier",
        "de": "Social Sharing",
        "en": "Social sharing",
        "es": "Compartir en redes sociales",
        "fi": "Sosiaalisen median jakaminen",
        "fr": "Partage social",
        "it": "Condivisione sui social",
        "ja": "ソーシャル共有",
        "ko": "소셜 공유",
        "nb": "Sosial deling",
        "nl": "Delen via social media",
        "pl": "Udostępnianie w mediach społecznościowych",
        "pt-BR": "Compartilhamento nas redes sociais",
        "pt-PT": "Partilha nas redes sociais",
        "sv": "Social delning",
        "th": "การแชร์ลงโซเชียล",
        "tr": "Sosyal paylaşım",
        "vi": "Chia sẻ qua mạng xã hội",
        "zh-CN": "社交分享",
        "zh-TW": "社群分享"
      }
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "cs": "Zobrazit tlačítka pro sdílení na sociálních sítích",
        "da": "Vis knapper til deling på sociale medier",
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Näytä sosiaalisen median jakamispainikkeet",
        "fr": "Afficher les boutons de partage sur les médias sociaux",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャルメディアでの共有ボタンを表示する",
        "ko": "소셜 공유 버튼 표시",
        "nb": "Vis knapper for deling på sosiale medier",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pl": "Pokaż przyciski udostępniania w mediach społecznościowych",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botões de partilha nas redes sociais",
        "sv": "Visa knappar för delning i sociala medier",
        "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
        "tr": "Sosyal medya paylaşım düğmelerini göster",
        "vi": "Hiển thị nút chia sẻ qua mạng xã hội",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "social_message",
      "label": {
        "cs": "Nadpis tlačítek pro sdílení na sociálních sítích",
        "da": "Overskrift på knapper til deling på sociale medier",
        "de": "Überschrift für Social-Sharing-Schaltflächen",
        "en": "Social sharing buttons heading",
        "es": "Título de botones para compartir en redes sociales",
        "fi": "Sosiaalisen median jakamispainikkeiden otsikko",
        "fr": "Titre des boutons de partage social",
        "it": "Titolo dei pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンの見出し",
        "ko": "소셜 공유 버튼 제목",
        "nb": "Overskrift til knapper for sosial deling",
        "nl": "Kop van knoppen voor delen via social media",
        "pl": "Nagłówek przycisków udostępniania w mediach społecznościowych",
        "pt-BR": "Título dos botões de compartilhamento nas redes sociais",
        "pt-PT": "Título dos botões de partilha nas redes sociais",
        "sv": "Knapprubrik för social delning",
        "th": "ส่วนหัวปุ่มสำหรับแชร์ลงโซเชียล",
        "tr": "Sosyal medya paylaşım düğmeleri başlığı",
        "vi": "Tiêu đề nút chia sẻ qua mạng xã hội",
        "zh-CN": "社交分享按钮标题",
        "zh-TW": "社交分享按鈕標題"
      },
      "default": {
        "cs": "Pošlete to dál",
        "da": "Spred budskabet",
        "de": "Weitersagen",
        "en": "Spread the word",
        "es": "Corre la voz",
        "fi": "Levitä sanaa",
        "fr": "Faites passer le mot",
        "it": "Spargi la voce",
        "ja": "情報を広く伝えましょう",
        "ko": "소문 내기:",
        "nb": "Spre ordet",
        "nl": "Vertel het verder",
        "pl": "Przekaż dalej",
        "pt-BR": "Divulgue a novidade",
        "pt-PT": "Passar a palavra",
        "sv": "Sprid meddelandet",
        "th": "ประกาศ",
        "tr": "Haberleri duyurun",
        "vi": "Quảng bá",
        "zh-CN": "传播消息",
        "zh-TW": "四處宣傳"
      }
    }
  ]
}
{% endschema %}
