{%- if section.settings.show_product_recommendations -%}
  <hr class="hr--clear hr--small">

  {%- if recommendations.performed -%}
    {%- if recommendations.products_count > 0 -%}
      <div class="product-recommendations">
        {%- if section.settings.heading != blank -%}
          <div class="section-header section-header--medium">
            <h2 class="h4">{{ section.settings.heading | escape }}</h2>
          </div>
        {%- endif -%}
        <div class="grid-uniform grid-link__container">
          {%- for product in recommendations.products -%}
            {%- assign grid_item_width = 'post-large--one-quarter medium--one-quarter small--one-half' -%}
            {%- assign product_width = 300 -%}
            {%- assign featured = product -%}

            <div class="grid__item {{ grid_item_width }}">
              {% include 'product-grid-item' %}
            </div>
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}
  {%- else  -%}
    <div data-base-url="{{ routes.product_recommendations_url }}" data-product-id="{{ product.id }}" data-section-id="{{ section.id }}" data-section-type="product-recommendations"></div>
  {%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": {
    "cs": "Doporučení produktů",
    "da": "Produktanbefalinger",
    "de": "Produktempfehlungen",
    "en": "Product recommendations",
    "es": "Recomendaciones de productos",
    "fi": "Tuotesuositukset",
    "fr": "Recommandations de produits",
    "it": "Raccomandazioni sui prodotti",
    "ja": "商品の推奨",
    "ko": "제품 권장 사항",
    "nb": "Produktanbefalinger",
    "nl": "Productaanbevelingen",
    "pl": "Rekomendacje produktu",
    "pt-BR": "Recomendações de produtos",
    "pt-PT": "Recomendações de produtos",
    "sv": "Produktrekommendationer",
    "th": "คำแนะนำสินค้า",
    "tr": "Ürün önerileri",
    "vi": "Đề xuất sản phẩm",
    "zh-CN": "产品推荐",
    "zh-TW": "商品推薦"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_product_recommendations",
      "label": {
        "cs": "Zobrazit dynamická doporučení",
        "da": "Vis dynamiske anbefalinger",
        "de": "Dynamische Empfehlungen anzeigen",
        "en": "Show dynamic recommendations",
        "es": "Mostrar recomendaciones dinámicas",
        "fi": "Näytä dynaamiset suositukset",
        "fr": "Afficher les recommandations dynamiques",
        "it": "Mostra raccomandazioni dinamiche",
        "ja": "動的推奨を表示する",
        "ko": "동적 권장 사항 표시",
        "nb": "Vis dynamiske anbefalinger",
        "nl": "Dynamische aanbevelingen weergeven",
        "pl": "Pokaż dynamiczne rekomendacje",
        "pt-BR": "Exibir recomendações dinâmicas",
        "pt-PT": "Mostrar recomendações dinâmicas",
        "sv": "Visa dynamiska rekommendationer",
        "th": "แสดงคำแนะนำแบบไดนามิก",
        "tr": "Dinamik önerileri göster",
        "vi": "Hiển thị đề xuất động",
        "zh-CN": "显示动态推荐",
        "zh-TW": "顯示動態推薦"
      },
      "info": {
        "cs": "Dynamická doporučení se v průběhu času mění a zlepšují. [Další informace](https://help.shopify.com/en/themes/development/recommended-products)",
        "da": "Dynamiske anbefalinger ændres og forbedres med tiden. [Få mere at vide](https://help.shopify.com/en/themes/development/recommended-products)",
        "de": "Dynamische Empfehlungen werden im Laufe der Zeit angepasst und verbessert. [Mehr Informationen](https://help.shopify.com/en/themes/development/recommended-products)",
        "en": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)",
        "es": "Las recomendaciones dinámicas cambian y mejoran con el tiempo. [Más información](https://help.shopify.com/en/themes/development/recommended-products)",
        "fi": "Dynaamiset suositukset muuttuvat ja paranevat ajan myötä. [Lisätietoja](https://help.shopify.com/en/themes/development/recommended-products)",
        "fr": "Les recommandations dynamiques changent et s'améliorent avec le temps. [En savoir plus](https://help.shopify.com/en/themes/development/recommended-products)",
        "it": "Le raccomandazioni dinamiche cambiano e migliorano nel tempo. [Maggiori informazioni](https://help.shopify.com/en/themes/development/recommended-products)",
        "ja": "動的推奨は時間とともに変化し改善します。[詳しくはこちら](https://help.shopify.com/en/themes/development/recommended-products)",
        "ko": "동적 권장 사항은 시간이 지나면서 변하고 개선됩니다. [자세히 알아보기](https://help.shopify.com/en/themes/development/recommended-products)",
        "nb": "Dynamiske anbefalinger endrer seg og forbedres med tiden. [Finn ut mer](https://help.shopify.com/en/themes/development/recommended-products)",
        "nl": "Dynamische aanbevelingen veranderen en verbeteren mettertijd. [Meer informatie](https://help.shopify.com/en/themes/development/recommended-products)",
        "pl": "Dynamiczne rekomendacje są zmieniane i ulepszane. [Dowiedz się więcej](https://help.shopify.com/en/themes/development/recommended-products)",
        "pt-BR": "As recomendações dinâmicas mudam e melhoram com o tempo. [Saiba mais](https://help.shopify.com/en/themes/development/recommended-products)",
        "pt-PT": "As recomendações dinâmicas mudam e melhoram com o tempo. [Saiba mais](https://help.shopify.com/en/themes/development/recommended-products)",
        "sv": "Dynamiska rekommendationer ändras och förbättras med tiden. [Läs mer](https://help.shopify.com/en/themes/development/recommended-products)",
        "th": "คำแนะนำแบบไดนามิกนั้นเปลี่ยนแปลงและถูกปรับปรุงให้ดีขึ้นตลอดเวลา [ดูข้อมูลเพิ่มเติม](https://help.shopify.com/en/themes/development/recommended-products)",
        "tr": "Dinamik öneriler zamanla değişir ve gelişir. [Daha fazla bilgi edinin](https://help.shopify.com/en/themes/development/recommended-products)",
        "vi": "Đề xuất động thay đổi và cải thiện theo thời gian. [Tìm hiểu thêm](https://help.shopify.com/en/themes/development/recommended-products)",
        "zh-CN": "动态推荐会随着时间而变化和改进。[了解详细信息](https://help.shopify.com/en/themes/development/recommended-products)",
        "zh-TW": "動態推薦會隨著時間改變與改進。[深入瞭解](https://help.shopify.com/en/themes/development/recommended-products)"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "cs": "Mohlo by se vám také líbit",
        "da": "Du vil muligvis også synes om",
        "de": "Das könnte dir auch gefallen",
        "en": "You may also like",
        "es": "También te puede interesar",
        "fi": "Saatat pitää myös näistä",
        "fr": "Vous pourriez aimer également",
        "it": "Potrebbero interessarti anche",
        "ja": "あなたへのおすすめ",
        "ko": "회원님도 좋아할 것입니다.",
        "nb": "Kanskje du også liker",
        "nl": "Wellicht vind je dit ook leuk",
        "pl": "Może Ci się spodobać również",
        "pt-BR": "Talvez você também goste de",
        "pt-PT": "Também poderá gostar de",
        "sv": "Du kanske också gillar",
        "th": "คุณอาจจะชอบ",
        "tr": "Şunlar da hoşunuza gidebilir:",
        "vi": "Có thể bạn cũng thích",
        "zh-CN": "您可能还喜欢",
        "zh-TW": "您也可能喜歡"
      }
    },
    {
      "type": "checkbox",
      "id": "vendor_enable",
      "label": {
        "cs": "Zobrazit dodavatele produktu",
        "da": "Vis produktleverandør",
        "de": "Produktanbieter anzeigen",
        "en": "Show product vendor",
        "es": "Mostrar proveedor del producto",
        "fi": "Näytä tuotteen myyjä",
        "fr": "Afficher le distributeur du produit",
        "it": "Mostra fornitore prodotto",
        "ja": "商品の販売元を表示する",
        "ko": "제품 공급 업체 표시",
        "nb": "Vis produktleverandør",
        "nl": "Productleverancier weergeven",
        "pl": "Pokaż dostawcę produktu",
        "pt-BR": "Exibir o fabricante do produto",
        "pt-PT": "Mostrar o fornecedor do produto",
        "sv": "Visa produktsäljare",
        "th": "แสดงผู้ขายสินค้า",
        "tr": "Ürün satıcısını göster",
        "vi": "Hiển thị nhà cung cấp sản phẩm",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_sale_circle",
      "label": {
        "cs": "Zobrazit kroužek Sleva",
        "da": "Vis \"Udsalg\"-cirkel",
        "de": "Kreis für 'Sonderangebot' anzeigen",
        "en": "Show 'Sale' circle",
        "es": "Mostrar el círculo \"Oferta\"",
        "fi": "Näytä 'Sale' (Alennusmyynti) -ympyrä",
        "fr": "Afficher la vignette « Réduction »",
        "it": "Mostra cerchio \"In Offerta\"",
        "ja": "丸で囲んだ「セール」を表示する",
        "ko": "'판매' 서클 표시",
        "nb": "Vis 'Salg'-sirkel",
        "nl": "Laat 'Verkoop'-cirkel zien",
        "pl": "Pokaż kółko „Wyprzedaż”",
        "pt-BR": "Exibir círculo \"Oferta\"",
        "pt-PT": "Mostrar círculo \"Oferta\"",
        "sv": "Visa \"Utförsäljning\"-cirkel",
        "th": "แสดงวงกลมที่ระบุว่า 'ลดราคา'",
        "tr": "\"İndirim\" dairesi göster",
        "vi": "Hiển thị biểu tượng \"Giảm giá\"",
        "zh-CN": "显示“销售”圆圈",
        "zh-TW": "顯示「特價」圓圈"
      }
    },
    {
      "type": "checkbox",
      "id": "center_grid_link",
      "label": {
        "cs": "Zarovnat text pod obrázky produktu na střed",
        "da": "Centrer tekst under produktbilleder",
        "de": "Text unter Produktbildern zentrieren",
        "en": "Center text below product images",
        "es": "Centrar el texto debajo de las imágenes del producto",
        "fi": "Keskitä teksti tuotekuvien alla",
        "fr": "Centrer le texte sous les images des produits",
        "it": "Centra il testo sotto le immagini del prodotto",
        "ja": "商品画像下のテキストを中央に寄せる",
        "ko": "제품 이미지 아래 가운데 텍스트",
        "nb": "Sentrer tekst under produktbilder",
        "nl": "Centreer de tekst onder de productafbeeldingen",
        "pl": "Wyśrodkuj tekst pod obrazami produktów",
        "pt-BR": "Centralizar texto abaixo das imagens do produto",
        "pt-PT": "Centrar texto abaixo das imagens de produto",
        "sv": "Centrera text under produktbilder",
        "th": "จัดข้อความใต้ภาพสินค้าให้อยู่ตรงกลาง",
        "tr": "Metni ürün görsellerinin alt kısmına ortala",
        "vi": "Căn giữa văn bản bên dưới hình ảnh sản phẩm",
        "zh-CN": "使产品图片下方的文本居中显示",
        "zh-TW": "將文字置中並置於產品圖片下方"
      }
    }
  ]
}
{% endschema %}
