<div itemscope itemtype="http://schema.org/Product" id="ProductSection" data-section-id="{{ section.id }}" data-section-type="product-template" data-image-zoom-type="{{ section.settings.product_image_zoom_type }}" data-show-extra-tab="{{ section.settings.show_extra_tab }}" data-extra-tab-content="{{ section.settings.extra_tab_content }}" data-enable-history-state="true">

  {% case section.settings.add_to_cart_width %}
    {% when 'small' %}
      {%- assign btn_class = 'btn--wide' -%}
      {%- assign productform_class = 'product-form--wide' -%}
    {% when 'medium' %}
      {%- assign btn_class = 'btn--wide' -%}
      {%- assign productform_class = 'product-form--wide' -%}
    {% when 'large' %}
      {%- assign btn_class = 'btn--full' -%}
      {%- assign productform_class = 'product-form--full' -%}
  {% endcase %}

  {% if section.settings.add_to_cart_width != 'small' %}
    <style>
      @media screen and (min-width: 769px){
        .single-option-selector,
        .quantity-selector {
          {% if section.settings.add_to_cart_width == 'medium' %}
            min-width: 50%;
          {% else %}
            min-width: 100%;
          {% endif %}
        }
      }
    </style>
  {% endif %}

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="section-header section-header--breadcrumb">
    {% include 'breadcrumb' %}
  </div>

  <div class="product-single">
    <div class="grid product-single__hero">
      <div class="grid__item post-large--one-half">

        {% if section.settings.product_thumbnails_position == 'below' or product.images.size < 2 %}

          <div class="product-single__photos">
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

            {% for image in product.images %}
              {% capture img_id %}ProductImage-{{ image.id }}{% endcapture %}
              {% capture img_wrapper_id %}ProductImageWrapper-{{ image.id }}{% endcapture %}
              {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              {% include 'image-style' with image: image, small_style: false, width: 700, height: 1024, wrapper_id: img_wrapper_id, img_id: img_id %}

              <div id="{{ img_wrapper_id }}" class="product-single__image-wrapper supports-js{% unless featured_image == image %} hide{% endunless %}{% if section.settings.product_image_zoom_type == 'lightbox' %} zoom-lightbox{% endif %}" data-image-id="{{ image.id }}">
                <div style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
                  <img id="{{ img_id }}"
                       class="product-single__image lazyload{% unless featured_image == image %} lazypreload{% endunless %}"
                       {% if featured_image == image %}src="{{ image | img_url: '300x300' }}"{% endif %}
                       data-src="{{ img_url }}"
                       data-widths="[180, 370, 540, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                       data-aspectratio="{{ image.aspect_ratio }}"
                       data-sizes="auto"
                       {% if section.settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ image | img_url: '1024x1024', scale: 2 }}"{% endif %}
                       alt="{{ image.alt | escape }}">
                </div>
              </div>
            {% endfor %}

            <noscript>
              <img src="{{ featured_image | img_url: '1024x1024', scale: 2 }}" alt="{{ featured_image.alt | escape }}">
            </noscript>
          </div>

          {% if product.images.size > 1 %}

            <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">
              {% for image in product.images %}
                <li class="grid__item wide--one-quarter large--one-third medium-down--one-third">
                  <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail">
                    <img src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
                  </a>
                </li>
              {% endfor %}
            </ul>

          {% endif %}

        {% else %}

          <div class="grid">

            <div class="grid__item four-fifths product-single__photos" id="ProductPhoto">
              {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

              {% for image in product.images %}
                {% capture img_id %}ProductImage-{{ image.id }}{% endcapture %}
                {% capture img_wrapper_id %}ProductImageWrapper-{{ image.id }}{% endcapture %}
                {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                {% include 'image-style' with image: image, small_style: false, width: 700, height: 1024, wrapper_id: img_wrapper_id, img_id: img_id %}

                <div id="{{ img_wrapper_id }}" class="product-single__image-wrapper supports-js{% unless featured_image == image %} hide{% endunless %}{% if section.settings.product_image_zoom_type == 'lightbox' %} zoom-lightbox{% endif %}" data-image-id="{{ image.id }}">
                  <div style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
                    <img id="{{ img_id }}"
                         class="product-single__image lazyload{% unless featured_image == image %} lazypreload{% endunless %}"
                         {% if featured_image == image %}src="{{ image | img_url: '300x300' }}"{% endif %}
                         data-src="{{ img_url }}"
                         data-widths="[180, 370, 540, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                         data-aspectratio="{{ image.aspect_ratio }}"
                         data-sizes="auto"
                         {% if section.settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ image | img_url: '1024x1024', scale: 2 }}"{% endif %}
                         alt="{{ image.alt | escape }}">
                  </div>
                </div>
              {% else %}
                <img src="{{ featured_image | img_url: '1024x1024', scale: 2 }}" alt="{{ featured_image.alt | escape }}">
              {% endfor %}

              <noscript>
                <img src="{{ featured_image | img_url: '1024x1024', scale: 2 }}" alt="{{ featured_image.alt | escape }}">
              </noscript>
            </div>

            <div class="grid__item one-fifth">

              <ul class="grid product-single__thumbnails" id="ProductThumbs">
                {% for image in product.images %}
                  <li class="grid__item">
                    <a data-image-id="{{ image.id }}" href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumbnail">
                      <img src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
                    </a>
                  </li>
                {% endfor %}
              </ul>

            </div>

          </div>

        {% endif %}

        {% if section.settings.product_image_zoom_type == 'lightbox' %}
        <ul class="gallery" class="hidden">
          {% for image in product.images %}
          <li data-image-id="{{ image.id }}" class="gallery__item" data-mfp-src="{{ image | img_url: '1024x1024', scale: 2 }}"></li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>
      <div class="grid__item post-large--one-half">
        {% if section.settings.product_vendor_enable %}
          <span class="h3" itemprop="brand">{{ product.vendor }}</span>
        {% endif %}
        <h1 class="product-single__title" itemprop="name">{{ product.title }}</h1>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          {% assign variant = product.selected_or_first_available_variant %}

          <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <div class="product-single__prices{% if cart.taxes_included or shop.shipping_policy.body != blank %} product-single__prices--policy-enabled{% endif %}">
            <span id="PriceA11y" class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <span id="ProductPrice" class="product-single__price" itemprop="price" content="{{ product.price | divided_by: 100.00 }}">
              {{ product.price | money }}
            </span>

            {% if product.compare_at_price > product.price %}
              <span id="ComparePriceA11y" class="visually-hidden" aria-hidden="false">{{ 'products.product.sale_price' | t }}</span>
              <s id="ComparePrice" class="product-single__sale-price">
                {{ product.compare_at_price_max | money }}
              </s>
            {% else %}
              <span id="ComparePriceA11y" class="visually-hidden" aria-hidden="true">{{ 'products.product.sale_price' | t }}</span>
              <s id="ComparePrice" class="product-single__sale-price hide">
                {{ product.compare_at_price_max | money }}
              </s>
            {% endif %}

            {% include 'product-unit-price', variant: variant, available: true %}

          </div>

          {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product-single__policies{% if product.has_only_default_variant and section.settings.product_quantity_enable == false %} product__policies--no-dropdowns{% endif %} rte">
              {%- if cart.taxes_included -%}
                {{ 'products.general.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}

          <product-form-alpha>
            {% form 'product', product, class: productform_class %}
              {{ form | payment_terms }}
              <select name="id" id="ProductSelect-{{ section.id }}" class="product-single__variants">
                {% for variant in product.variants %}
                  {% if variant.available %}

                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                  {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                    </option>
                  {% endif %}
                {% endfor %}
              </select>

              {% if product.id == 7149119373500 %}
                {% render 'product-properties' %}
              {% endif %}

              <div class="product-single__quantity{% unless section.settings.product_quantity_enable %} is-hidden{% endunless %}">
                <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
              </div>

              <button type="submit" name="add" id="AddToCart" class="btn {{ btn_class }}{% if section.settings.enable_payment_button and product.selling_plan_groups == empty %} btn--secondary{% endif %}">
                <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
              </button>
              <div data-ajax-cart-errors="form"></div>
              {% if section.settings.enable_payment_button %}
                {{ form | payment_button }}
              {% endif %}
            {% endform %}
          </product-form-alpha>

          {% unless section.settings.show_extra_tab == false or pages[section.settings.extra_tab_content] == empty %}
            <div class="tabs">
              <ul class="tab-switch__nav">
                <li>
                  <a href="#description" data-link="description" class="tab-switch__trigger h3">{{ 'products.product.description' | t }}</a>
                </li>
                <li>
                  <a href="#extra" data-link="extra" class="tab-switch__trigger h3">{{ pages[section.settings.extra_tab_content].title }}</a>
                </li>
              </ul>
              <div id="description" class="tab-switch__content" data-content="description">
                <div class="product-description rte" itemprop="description">
                  {{ product.description }}
                </div>
              </div>
              <div id="extra" class="tab-switch__content" data-content="extra">
                <div class="rte">
                  {{ pages[section.settings.extra_tab_content].content }}
                </div>
              </div>
            </div>
          {% else %}
            <div class="product-description rte" itemprop="description">
              {{ product.description }}
            </div>
          {% endunless %}

          {% if section.settings.social_sharing %}
            <hr class="hr--clear hr--small">
            <h2 class="h4">{{ 'products.general.share_title' | t }}</h2>
            {% include 'social-sharing' %}
          {% endif %}
        </div>

      </div>
    </div>
  </div>
</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

{% schema %}
{
  "name": {
    "cs": "Stránky produktů",
    "da": "Produktsider",
    "de": "Produktseiten",
    "en": "Product pages",
    "es": "Páginas de productos",
    "fi": "Tuotesivut",
    "fr": "Pages de produits",
    "it": "Pagine di prodotto",
    "ja": "商品ページ",
    "ko": "제품 페이지",
    "nb": "Produktsider",
    "nl": "Productpagina's",
    "pl": "Strony produktu",
    "pt-BR": "Páginas de produtos",
    "pt-PT": "Páginas de produtos",
    "sv": "Produktsidor",
    "th": "หน้าสินค้า",
    "tr": "Ürün sayfaları",
    "vi": "Trang sản phẩm",
    "zh-CN": "产品页面",
    "zh-TW": "產品頁面"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "product_vendor_enable",
      "label": {
        "cs": "Zobrazit dodavatele produktu",
        "da": "Vis produktleverandør",
        "de": "Produktanbieter anzeigen",
        "en": "Show product vendor",
        "es": "Mostrar proveedor del producto",
        "fi": "Näytä tuotteen myyjä",
        "fr": "Afficher le distributeur du produit",
        "it": "Mostra fornitore prodotto",
        "ja": "商品の販売元を表示する",
        "ko": "제품 공급 업체 표시",
        "nb": "Vis produktleverandør",
        "nl": "Productleverancier weergeven",
        "pl": "Pokaż dostawcę produktu",
        "pt-BR": "Exibir o fabricante do produto",
        "pt-PT": "Mostrar o fornecedor do produto",
        "sv": "Visa produktsäljare",
        "th": "แสดงผู้ขายสินค้า",
        "tr": "Ürün satıcısını göster",
        "vi": "Hiển thị nhà cung cấp sản phẩm",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      }
    },
    {
      "type": "checkbox",
      "id": "product_quantity_enable",
      "label": {
        "cs": "Zobrazit výběr množství",
        "da": "Vis antalsvælger",
        "de": "Mengenauswahl anzeigen",
        "en": "Show quantity selector",
        "es": "Mostrar selector de cantidad",
        "fi": "Näytä määrän valitsin",
        "fr": "Afficher le sélecteur de quantité",
        "it": "Mostra selettore quantità",
        "ja": "数量セレクターを表示する",
        "ko": "수량 선택기 표시",
        "nb": "Vis mengdevelger",
        "nl": "Hoeveelheidskiezer weergeven",
        "pl": "Pokaż selektor ilości",
        "pt-BR": "Exibir seletor de quantidade",
        "pt-PT": "Mostrar um seletor de quantidade",
        "sv": "Visa kvantitetsväljare",
        "th": "แสดงตัวเลือกจำนวน",
        "tr": "Adet seçiciyi göster",
        "vi": "Hiển thị hộp chọn số lượng",
        "zh-CN": "显示数量选择器",
        "zh-TW": "顯示數量選擇器"
      }
    },
    {
      "type": "select",
      "id": "product_image_zoom_type",
      "label": {
        "cs": "Typ zvětšení obrázku",
        "da": "Billedzoomtype",
        "de": "Bildzoomtyp",
        "en": "Image zoom type",
        "es": "Tipo de zoom de imagen",
        "fi": "Kuvan zoomaustyyppi",
        "fr": "Type de zoom sur image",
        "it": "Tipo di zoom immagine",
        "ja": "画像のズームタイプ",
        "ko": "이미지 확대 유형",
        "nb": "Zoomtype for bilder",
        "nl": "Type zoom-afbeelding",
        "pl": "Typ powiększenia obrazu",
        "pt-BR": "Tipo de zoom da imagem",
        "pt-PT": "Tipo de zoom da imagem",
        "sv": "Bildzoomtyp",
        "th": "ประเภทการซูมภาพ",
        "tr": "Görsel yakınlaştırma türü",
        "vi": "Kiểu thu phóng hình ảnh",
        "zh-CN": "图片缩放类型",
        "zh-TW": "圖片縮放類型"
      },
      "options": [
        {
          "value": "lightbox",
          "label": {
            "cs": "Lightbox",
            "da": "Lightbox",
            "de": "Leuchtkasten",
            "en": "Lightbox",
            "es": "Lightbox",
            "fi": "Lightbox-valotaulu",
            "fr": "Visionneuse d'image",
            "it": "Lightbox",
            "ja": "Lightbox",
            "ko": "라이트 박스",
            "nb": "Lysboks",
            "nl": "Lightbox",
            "pl": "Lightbox",
            "pt-BR": "Lightbox",
            "pt-PT": "Lightbox",
            "sv": "Ljuslåda",
            "th": "Lightbox",
            "tr": "Lightbox",
            "vi": "Lightbox",
            "zh-CN": "灯箱",
            "zh-TW": "燈箱"
          }
        },
        {
          "value": "zoom-in",
          "label": {
            "cs": "Přiblížení",
            "da": "Zoom ind",
            "de": "Heranzoomen",
            "en": "Zoom-in",
            "es": "Acercar",
            "fi": "Lähennä",
            "fr": "Zoom avant",
            "it": "Zoom avanti",
            "ja": "ズームイン",
            "ko": "확대",
            "nb": "Zoom inn",
            "nl": "Inzoomen",
            "pl": "Powiększ",
            "pt-BR": "Mais zoom",
            "pt-PT": "Mais zoom",
            "sv": "Zooma in",
            "th": "ซูมเข้า",
            "tr": "Yakınlaştırma",
            "vi": "Phóng to",
            "zh-CN": "缩小",
            "zh-TW": "放大"
          }
        },
        {
          "value": "no-zoom",
          "label": {
            "cs": "Bez zvětšení",
            "da": "Ingen zoom",
            "de": "Nicht zoomen",
            "en": "No zoom",
            "es": "Sin zoom",
            "fi": "Ei zoomausta",
            "fr": "Pas de zoom",
            "it": "Nessun zoom",
            "ja": "ズームなし",
            "ko": "확대 없음",
            "nb": "Ingen zoom",
            "nl": "Geen zoom",
            "pl": "Bez powiększenia",
            "pt-BR": "Sem zoom",
            "pt-PT": "Sem zoom",
            "sv": "Ingen zoom",
            "th": "ไม่มีการซูม",
            "tr": "Yakınlaştırma yok",
            "vi": "Không thu phóng",
            "zh-CN": "无缩放",
            "zh-TW": "無縮放"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "product_thumbnails_position",
      "label": {
        "cs": "Pozice náhledu produktu",
        "da": "Position for produktets miniaturebillede",
        "de": "Position der Miniaturansicht des Produkts",
        "en": "Product thumbnail position",
        "es": "Posición de imagen miniatura del producto",
        "fi": "Tuotteen pikkukuvan sijainti",
        "fr": "Position de la vignette du produit",
        "it": "Posizione anteprima prodotto",
        "ja": "商品サムネイルの位置",
        "ko": "제품 썸네일 위치",
        "nb": "Posisjon for miniatyrbilde av produkt",
        "nl": "Positie miniatuurafbeelding product",
        "pl": "Położenie miniatury produktu",
        "pt-BR": "Posição da miniatura de produto",
        "pt-PT": "Posição da miniatura de produto",
        "sv": "Position för förhandsgranskning av produkt",
        "th": "ตำแหน่งรูปภาพขนาดย่อของสินค้า",
        "tr": "Ürün küçük resim konumu",
        "vi": "Vị trí ảnh thu nhỏ của sản phẩm",
        "zh-CN": "产品缩略图位置",
        "zh-TW": "產品縮圖位置"
      },
      "options": [
        {
          "value": "right",
          "label": {
            "cs": "Napravo od hlavního obrázku",
            "da": "Til højre for hovedbilledet",
            "de": "Rechts vom Hauptbild",
            "en": "Right of main image",
            "es": "A la derecha de la imagen principal",
            "fi": "Pääkuvan oikealla puolella",
            "fr": "À droite de l'image principale",
            "it": "A destra dell'immagine principale",
            "ja": "メイン画像の右",
            "ko": "주요 이미지의 오른쪽",
            "nb": "Til høyre for hovedbildet",
            "nl": "Rechts van hoofdafbeelding",
            "pl": "Na prawo od głównego obrazu",
            "pt-BR": "À direita da imagem principal",
            "pt-PT": "À direita da imagem principal",
            "sv": "Höger om huvudbild",
            "th": "ด้านขวาของภาพหลัก",
            "tr": "Ana görselin sağı",
            "vi": "Bên phải hình ảnh chính",
            "zh-CN": "主图片的右侧",
            "zh-TW": "主要圖片右方"
          }
        },
        {
          "value": "below",
          "label": {
            "cs": "Pod hlavním obrázkem",
            "da": "Under hovedbilledet",
            "de": "Unter dem Hauptbild",
            "en": "Below main image",
            "es": "Debajo de la imagen principal",
            "fi": "Pääkuvan alla",
            "fr": "Sous l'image principale",
            "it": "Sotto l'immagine principale",
            "ja": "メイン画像の下",
            "ko": "아래 주요 이미지",
            "nb": "Under hovedbildet",
            "nl": "Onder hoofdafbeelding",
            "pl": "Pod głównym obrazem",
            "pt-BR": "Abaixo da imagem principal",
            "pt-PT": "Abaixo da imagem principal",
            "sv": "Under huvudbild",
            "th": "ด้านล่างของภาพหลัก",
            "tr": "Ana görselin altı",
            "vi": "Bên dưới hình ảnh chính",
            "zh-CN": "主图片的下方",
            "zh-TW": "主要圖片下方"
          }
        }
      ]
    },
    {
      "type": "header",
      "content": {
        "cs": "Popis",
        "da": "Beskrivelse",
        "de": "Beschreibung",
        "en": "Description",
        "es": "Descripción",
        "fi": "Kuvaus",
        "fr": "Description",
        "it": "Descrizione",
        "ja": "説明",
        "ko": "설명",
        "nb": "Beskrivelse",
        "nl": "Beschrijving",
        "pl": "Opis",
        "pt-BR": "Descrição",
        "pt-PT": "Descrição",
        "sv": "Beskrivning",
        "th": "คำอธิบาย",
        "tr": "Açıklama",
        "vi": "Mô tả",
        "zh-CN": "描述",
        "zh-TW": "說明"
      }
    },
    {
      "type": "checkbox",
      "id": "show_extra_tab",
      "label": {
        "cs": "Zobrazit kartu vedle popisu produktu",
        "da": "Vis en fane ved siden af din produktbeskrivelse",
        "de": "Ein Tab neben deiner Produktbeschreibung anzeigen",
        "en": "Show a tab next to your product description",
        "es": "Mostrar una pestaña al lado de la descripción de tu producto",
        "fi": "Näytä tuotekuvauksen vieressä oleva välilehti",
        "fr": "Afficher un onglet à côté de la description de votre produit",
        "it": "Mostra una scheda accanto alla descrizione del prodotto",
        "ja": "商品説明の横にタブを表示する",
        "ko": "제품 설명 옆에 탭 표시",
        "nb": "Vis en fane ved siden av produktbeskrivelsen",
        "nl": "Laat tabblad zien naast je productbeschrijving",
        "pl": "Pokaż kartę obok opisu produktu",
        "pt-BR": "Exibir uma aba ao lado da descrição do seu produto",
        "pt-PT": "Mostrar um separador ao lado da sua descrição do produto",
        "sv": "Visa en flik intill produktbeskrivningen",
        "th": "แสดงแท็บถัดจากคำอธิบายสินค้าของคุณ",
        "tr": "Ürün açıklamasının yanında sekme göster",
        "vi": "Hiển thị tab bên cạnh mô tả sản phẩm",
        "zh-CN": "显示产品描述旁边的标签",
        "zh-TW": "於產品說明旁邊顯示索引標籤"
      },
      "default": false
    },
    {
      "type": "page",
      "id": "extra_tab_content",
      "label": {
        "cs": "Obsah karty",
        "da": "Fanens indhold",
        "de": "Tab-Inhalt",
        "en": "Tab content",
        "es": "Contenido de la pestaña",
        "fi": "Välilehden sisältö",
        "fr": "Contenu de l'onglet",
        "it": "Contenuto della scheda",
        "ja": "タブのコンテンツ",
        "ko": "탭 콘텐츠",
        "nb": "Faneinnhold",
        "nl": "Content tabblad",
        "pl": "Zawartość karty",
        "pt-BR": "Conteúdo da aba",
        "pt-PT": "Conteúdo do separador",
        "sv": "Flikens innehåll",
        "th": "เนื้อหาแท็บ",
        "tr": "Sekme içeriği",
        "vi": "Nội dung tab",
        "zh-CN": "标签内容",
        "zh-TW": "索引標籤內容"
      },
      "info": {
        "cs": "Tento obsah stránky se zobrazí na samostatné kartě.",
        "da": "Dette sideindhold vises i den ekstra fane.",
        "de": "Der Inhalt dieser Seite wird auf der zusätzlichen Registerkarte angezeigt.",
        "en": "This page content will appear in the extra tab.",
        "es": "El contenido de esta página aparecerá en la pestaña adicional.",
        "fi": "Tämä sivun sisältö näkyy ylimääräisessä välilehdessä.",
        "fr": "Le contenu de cette page s'affichera dans l'onglet supplémentaire.",
        "it": "Il contenuto di questa pagina verrà visualizzato nella scheda aggiuntiva.",
        "ja": "このページのコンテンツは追加のタブに表示されます。",
        "ko": "이 페이지 콘텐츠는 추가 탭에 나타납니다.",
        "nb": "Dette sideinnholdet vil vises i ekstrafanen.",
        "nl": "De content van deze pagina verschijnt in het extra tabblad.",
        "pl": "Zawartość tej strony pojawi się na dodatkowej karcie.",
        "pt-BR": "O conteúdo dessa página aparecerá na aba extra.",
        "pt-PT": "O conteúdo desta página vai aparecer no separador adicional.",
        "sv": "Sidinnehållet visas i fliken Extra.",
        "th": "เนื้อหาของหน้านี้จะปรากฏในแท็บพิเศษ",
        "tr": "Bu sayfa içeriği ek sekmede görünür.",
        "vi": "Nội dung trang này sẽ xuất hiện trong tab bổ sung.",
        "zh-CN": "此页内容将显示在额外标签中。",
        "zh-TW": "此頁面內容將出現在額外索引標籤。"
      }
    },
    {
      "type": "checkbox",
      "id": "social_sharing",
      "label": {
        "cs": "Povolit sdílení produktů",
        "da": "Aktivér produktdeling",
        "de": "Teilen von Produkten aktivieren",
        "en": "Enable product sharing",
        "es": "Habilitar compartir productos",
        "fi": "Ota tuotejako käyttöön",
        "fr": "Activer le partage de produits",
        "it": "Permetti condivisione del prodotto",
        "ja": "商品の共有を有効にする",
        "ko": "제품 공유 활성화",
        "nb": "Aktiver produktdeling",
        "nl": "Delen van producten inschakelen",
        "pl": "Włącz udostępnianie produktów",
        "pt-BR": "Habilite o compartilhamento de produtos",
        "pt-PT": "Ativar a partilha de produtos",
        "sv": "Aktivera produktdelning",
        "th": "เปิดใช้การแชร์สินค้า",
        "tr": "Ürün paylaşımını etkinleştir",
        "vi": "Bật chia sẻ sản phẩm",
        "zh-CN": "启用产品分享",
        "zh-TW": "啟用產品分享"
      }
    },
    {
      "type": "header",
      "content": {
        "cs": "Formulář produktových variant",
        "da": "Formular for produktmuligheder",
        "de": "Produktoptionsformular",
        "en": "Product options form",
        "es": "Formulario de opciones de producto",
        "fi": "Tuotevaihtoehtolomake",
        "fr": "Formulaire d'options de produit",
        "it": "Modulo delle opzioni di prodotto",
        "ja": "商品オプションのフォーム",
        "ko": "제품 옵션 양식",
        "nb": "Skjema for produktalternativer",
        "nl": "Formulier productopties",
        "pl": "Formularz opcji produktu",
        "pt-BR": "Formulário de opções de produtos",
        "pt-PT": "Formulário de opções de produtos",
        "sv": "Produktalternativsformulär",
        "th": "แบบฟอร์มตัวเลือกสินค้า",
        "tr": "Ürün seçenekleri formu",
        "vi": "Biểu mẫu tùy chọn sản phẩm",
        "zh-CN": "产品选项表单",
        "zh-TW": "產品選項表單"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "cs": "Zobrazit dynamické tlačítko pokladny",
        "da": "Vis dynamisk betalingsknap",
        "de": "Dynamischen Checkout Button anzeigen",
        "en": "Show dynamic checkout button",
        "es": "Mostrar botón de pago dinámico",
        "fi": "Näytä dynaaminen kassapainike",
        "fr": "Afficher le bouton de paiement dynamique",
        "it": "Mostra pulsante di check-out dinamico",
        "ja": "動的チェックアウトボタンを表示する",
        "ko": "동적 결제 버튼 표시",
        "nb": "Vis dynamisk knapp for å gå til kassen",
        "nl": "Dynamische checkoutknop weergeven",
        "pl": "Pokaż dynamiczny przycisk realizacji zakupu",
        "pt-BR": "Exibir botão de checkout dinâmico",
        "pt-PT": "Mostrar o botão dinâmico de finalização da compra",
        "sv": "Visa dynamiska utcheckningsknappar",
        "th": "แสดงปุ่มชำระเงินแบบไดนามิก",
        "tr": "Dinamik ödeme düğmesini göster",
        "vi": "Hiển thị nút thanh toán nhanh",
        "zh-CN": "显示动态结账按钮",
        "zh-TW": "顯示動態結帳按鈕"
      },
      "info": {
        "cs": "Každý zákazník uvidí platební metodu, kterou ze všech metod dostupných v obchodě (například PayPal nebo Apple Pay) nejvíce preferuje. [Další informace](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "da": "Den enkelte kunde vil se sin foretrukne betalingsmetode blandt dem, der er tilgængelige i din butik, f.eks. PayPal eller Apple Pay. [Få mere at vide](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in deinem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Informationen](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fi": "Kukin asiakas näkee ensisijaisen valintansa kauppasi tarjoamista maksutavoista, esim. PayPal tai Apple Pay. [Lisätietoja](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[詳しくはこちら](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ko": "각 고객은 PayPal 또는 Apple Pay와 같이 스토어에서 사용 가능한 지불 방법을 확인할 수 있습니다. [자세히 알아보기](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nb": "Hver enkelt kunde vil se sin foretrukne betalingsmåte blant de som er tilgjengelig i butikken din, som PayPal eller Apple Pay. [Finn ut mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pl": "Każdy klient zobaczy swoją preferowaną metodę płatności wśród metod dostępnych w Twoim sklepie, np. PayPal lub Apple Pay. [Dowiedz się więcej](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-BR": "Cada cliente verá a forma de pagamento preferencial dele dentre as disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-PT": "Cada cliente irá ver o seu método de pagamento preferido entre os disponíveis na loja, como o PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "sv": "Varje kund kommer att se den föredragna betalningsmetoden från de som finns tillgängliga i din butik, till exempel PayPal eller Apple Pay. [Läs mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "th": "ลูกค้าแต่ละรายจะเห็นวิธีการชำระเงินที่ต้องการจากวิธีที่ใช้ได้ในร้านค้าของคุณ เช่น PayPal หรือ Apple Pay [ดูข้อมูลเพิ่มเติม](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "tr": "Her müşteri, mağazanız sunulanlar arasından tercih ettikleri ödeme yöntemini görür (ör. PayPal veya Apple Pay). [Daha fazla bilgi edinin](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "vi": "Mỗi khách hàng sẽ thấy phương thức thanh toán ưu tiên trong những phương thức thanh toán được hỗ trợ tại cửa hàng như PayPal hoặc Apple Pay. [Tìm hiểu thêm](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-TW": "每位顧客都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": true
    },
    {
      "type": "select",
      "id": "add_to_cart_width",
      "label": {
        "cs": "Velikost selektoru variant a tlačítek",
        "da": "Variantvælger og knapstørrelse",
        "de": "Variantenauswahl und Schaltflächengröße",
        "en": "Variant picker and button size",
        "es": "Selector de variantes y tamaño del botón",
        "fi": "Versionvalitsin ja painikkeen koko",
        "fr": "Sélecteur de variante et taille du bouton",
        "it": "Dimensione selettore variante e pulsante",
        "ja": "バリエーションピッカーとボタンサイズ",
        "ko": "이형 상품 선택기 및 버튼 사이즈",
        "nb": "Variantvelger og knappestørrelse",
        "nl": "Variantkiezer en knopgrootte",
        "pl": "Rozmiar selektora wariantów i przycisku",
        "pt-BR": "Tamanho do botão e do seletor de variante",
        "pt-PT": "Tamanho dos botões e seletor de variante",
        "sv": "Variantväljare och knappstorlek",
        "th": "รายการเครื่องมือเลือกสินค้าและขนาดของปุ่ม",
        "tr": "Varyasyon seçici ve düğme boyutu",
        "vi": "Trình chọn mẫu mã và cỡ nút",
        "zh-CN": "多属性选择器和按钮大小",
        "zh-TW": "子類選擇器和按鈕尺寸"
      },
      "options": [
        {
          "value": "small",
          "label": {
            "cs": "Malá",
            "da": "Lille",
            "de": "Klein",
            "en": "Small",
            "es": "Pequeño",
            "fi": "Pieni",
            "fr": "Petite",
            "it": "Small",
            "ja": "小",
            "ko": "스몰",
            "nb": "Liten",
            "nl": "Klein",
            "pl": "Mały",
            "pt-BR": "Pequeno",
            "pt-PT": "Pequeno",
            "sv": "Liten",
            "th": "เล็ก",
            "tr": "Küçük",
            "vi": "Nhỏ",
            "zh-CN": "小",
            "zh-TW": "小型"
          }
        },
        {
          "value": "medium",
          "label": {
            "cs": "Střední",
            "da": "Medium",
            "de": "Mitte",
            "en": "Medium",
            "es": "Mediano",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "it": "Medium",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pl": "Średni",
            "pt-BR": "Médio",
            "pt-PT": "Intermédio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "tr": "Orta",
            "vi": "Trung bình",
            "zh-CN": "中等",
            "zh-TW": "中等"
          }
        },
        {
          "value": "large",
          "label": {
            "cs": "Velká",
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "it": "Large",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pl": "Duży",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "tr": "Büyük",
            "vi": "Lớn",
            "zh-CN": "大",
            "zh-TW": "大型"
          }
        }
      ]
    }
  ]
}
{% endschema %}
